// Layout
body {
  background: $background-body;
  margin: 0;
  padding: 0;
}
// -------------------------------------------------------------------
// Page Content
// -------------------------------------------------------------------
#contentWrap {
  margin: 0 auto;
  text-align: left;
  max-width: $page-size;
  min-height: 500px;
}
#content {
  padding: 20px $page-side-padding;
}
// -------------------------------------------------------------------
// Responsive Site Frame
// -------------------------------------------------------------------
@media screen and (max-width: $page-size-sm) {
// Small Screens Only
#content {
    padding: 20px 10px;
}

}

// -------------------------------------------------------------------
// Footer
// -------------------------------------------------------------------
.ohs-footer {
  .ohs-company-info {
    background-color: $color-brand-dark-gray;
    padding: 10px;
    color: $color-neutral-4;
    text-align: center;
    a {
      color: $color-neutral-4;
    }
    span {
      display: block;
    }
  }
  .ohs-site-logo {
    margin-bottom: 10px;
    a {
      background-image: url('../images/template/header_bg.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      display: block;
      height: 40px;
      text-indent: -9999px;
    }
  }
  .ohs-location {
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom: 20px;
  }
  .social-connect {
    font-size: 24px;
    a {
      display: inline-block;
      margin: 0 10px;
    }
  }

}
.ohs-footer-links {
  background-color: $color-main;
  color: $color-neutral-5;
  padding: 20px;
  line-height: 1.8em;
  a {
    color: $color-neutral-5;
  }
  .title {
    font-size: 14px;
  }
  ul {
    margin-bottom: 10px;
  }
  .sub-links {
    display: none;
  }
  .main-links {
  }
  .narrow {
    width: 50%;
    float: left;
  }
  .affiliate-links {
    padding-bottom: 20px;
    clear: both;
    p {
      font-size: 12px;
      line-height: 1.3em;
      margin-bottom: 6px;
    }
    .cta-button {
      display: block;
      max-width: 300px;
      padding: 10px;
      line-height: 1.3em;
      position: relative;
      height: 60px;
      padding-right: 40px;
      span {
        line-height: 1.6em;
        display: block;
        font-size: 10px;
      }
      strong {
        font-size: 20px;
      }
      &:after {
        content: '\f054';
        position: absolute;
        top: 0; bottom: 0;
        right: 0;
        width: 40px;
        line-height: 60px;
        text-align: center;
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
      }
    }
  }
}
.ohs-footer-disclaimer {
  clear: both;
  font-size: 10px;
  line-height: 1.2em;
  color: $color-neutral-3;
}
.ohs-footer-copyright {
  background-color: $color-sub;
  font-size: 10px;
  padding: 6px;
  a {
    color: $color-neutral-3;
    display: inline-block;
    margin: 0 6px 0 0;
  }
}
@media screen and (min-width: $page-size-md) {
// Medium & Up
.ohs-footer {
  .ohs-company-info {
    overflow: hidden;
    text-align: left;
    div {
      float: left;
    }
    span {
      display: inline-block;
    }
  }
  .ohs-site-logo {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .ohs-location {
    margin: 0;
    line-height: 40px;
    strong:after {
      content: ' \2022 ';
    }
  }
  .social-connect {
    line-height: 40px;
    margin-left: 40px;
  }
}
.ohs-footer-links {
  .sub-links {
    display: block;
  }
  .main-links,
  .sub-links,
  .ohs-footer-aside {
    float: left;
  }
  .main-links {
    width: 33.33%;
  }
  .ohs-footer-aside {
    width: 66.66%;
  }
  .sub-links {
    width: 50%;
  }
  .narrow {
    width: 100%;
  }
}

}
@media screen and (min-width: $page-size) {
// Large & Up
.ohs-footer-links {
  .affiliate-links {
    float: left;
    width: 33.33%;
    clear: none;
  }
  .sub-links {
    width: 33.33%;
  }
  .narrow {
    width: 50%;
  }
}

}