@import url("//use.typekit.net/foy1exi.css");

body {
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size-md;
  line-height: 1.6em;
}
h1 {
  color: $header-color-1;
  font-size: 32px;
  line-height: 1.2em;
}
h2 {
  color: $header-color-2;
}
// make numbers look better
* {
-webkit-font-feature-settings: "lnum"; 
-moz-font-feature-settings: "lnum"; 
font-feature-settings: "lnum"; 
}
// links
a {
  color: $link-color;
}
b {
  font-weight: normal;
}
// breadcrumbs 
.breadcrumb {
  color: $font-color;
  font-size: 12px;
  a {
    color: $font-color;
  }
}
// form button 
#content_area input[type="button"],
#content_area input[type="submit"] {
  display: inline-block;
  font-family: $font-family;
  background-color: $button-color !important;
  color: $color-neutral-5;
  line-height: ($field-height - 2);
  padding: 2px 14px 0 !important;
  border: none;
  text-transform: uppercase;
  &:hover {
    background-color: $button-hover;
    color: $color-neutral-5;
    text-decoration: none;
  }
}
// css buttons
.cta-button {
  display: inline-block;
  border: none;
  outline: none;
  background-color: $button-color;
  color: $color-neutral-5;
  line-height: ($field-height - 2);
  padding: 2px 14px 0;
  text-transform: uppercase;
  &:hover {
    background-color: $button-hover;
    color: $color-neutral-5;
    text-decoration: none;
  }
  &.block {
    display: block;
    text-align: center;
  }
  &.cta-button--disabled {
    background-color: $color-neutral-3;
  }
}
.productnamecolorLARGE, a.productnamecolorLARGE, a.productnamecolorLARGE:hover {
  color: $header-color;
  font-size: 32px;
  line-height: 1.4em;
  font-weight: bold;
  display: block;
}
// -------------------------------------------------------------------
// Responsive
// -------------------------------------------------------------------
@media screen and (min-width: $page-size) {
h1 {
  font-size: 36px;
}
.productnamecolorLARGE, a.productnamecolorLARGE, a.productnamecolorLARGE:hover {
  font-size: 36px;
}

}