@import url("//fonts.googleapis.com/css?family=Raleway:300,500,600,700");

body {
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size-md;
}
// make numbers look better
* {
-webkit-font-feature-settings: "lnum"; 
-moz-font-feature-settings: "lnum"; 
font-feature-settings: "lnum"; 
}
// links
a {
  color: $link-color;
}
// form button
#content_area input[type="button"] {
  display: inline-block;
  font-family: $font-family;
  background-color: $button-color;
  color: $color-neutral-5;
  line-height: ($field-height - 2);
  padding: 2px 14px 0;
  border: none;
  text-transform: uppercase;
  &:hover {
    background-color: $button-hover;
    color: $color-neutral-5;
    text-decoration: none;
  }
}
// css buttons
.cta-button {
  display: inline-block;
  background-color: $button-color;
  color: $color-neutral-5;
  line-height: ($field-height - 2);
  padding: 2px 14px 0;
  text-transform: uppercase;
  &:hover {
    background-color: $button-hover;
    color: $color-neutral-5;
    text-decoration: none;
  }
  &.block {
    display: block;
  }
}
.productnamecolorLARGE, a.productnamecolorLARGE, a.productnamecolorLARGE:hover {
  font-size: 18px;
  font-weight: bold;
}