// Raw Colors
$color-brand-green: #008A5E;
$color-brand-green-dark: #005D3F;
$color-brand-blue-dark: #06488F;
$color-brand-dark-gray: #27201f;
$color-brand-yellow: #FFD51C;
$color-ui-red: #cd0f13;
$color-ui-green: $color-brand-green;
$color-ui-yellow: $color-brand-yellow;

$color-neutral-1: #000; // darkest neutral - black
$color-neutral-2: #585858;//544F4E
$color-neutral-3: #d7d7d7;
$color-neutral-4: #E7E8E8; // site bg
$color-neutral-5: #fff; // lightest neutral - white

// Variables
$color-main: $color-brand-green;
$color-sub: $color-brand-green-dark;
$color-accent: $color-brand-yellow;

$font-family: 'usual', Arial, sans-serif;
$accent-font: $font-family;

$font-color: $color-neutral-1;
$subfont-color: $color-neutral-2;
$header-color: $color-main;
$font-price-color: $color-brand-blue-dark;
$link-color: $color-main;

$font-size-xxl: 30px;
$font-size-xl: 20px;
$font-size-lg: 16px;
$font-size-md: 14px;
$font-size-sm: 12px;

$success: $color-ui-green;
$error: $color-ui-red;

$page-size-lg: 1200px;
$page-size: 960px;
$page-size-md: 740px;
$page-size-sm: 400px;

$page-side-padding: 10px;

$border-color: $color-neutral-3;

$background-body: $color-neutral-4;
$background-page: $color-neutral-5;
$background-light: $color-neutral-4;
$background-highlight: lighten($color-ui-yellow,36);
$background-error: lighten($error,52);

$button-color: $color-sub;
$button-color-text: $color-neutral-5;
$button-hover: lighten($color-sub,12);
$button-secondarycolor: $color-neutral-2;
$button-secondaryhover: darken($color-neutral-2,12);

$header-color-1: $color-brand-green;
$header-color-2: $color-neutral-1;
$header-color-alt: $color-brand-blue-dark;

$field-height: 34px;
$field-border-color: $color-neutral-3;

@mixin transition($transitions) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}
@mixin transition-delay($transitions) {
    -webkit-transition-delay: $transitions;
    -moz-transition-delay: $transitions;
    -o-transition-delay: $transitions;
    transition-delay: $transitions;
}
@mixin transform($variables) {
  -webkit-transform: $variables;
  -moz-transform:    $variables;
  -ms-transform:     $variables;
  -o-transform:      $variables;
  transform:         $variables;
}
@mixin gradient($start,$start-opacity,$stop,$stop-opacity) {
	background: $start;
	background: -moz-linear-gradient(top,  rgba($start,$start-opacity) 0%, rgba($stop,$stop-opacity) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($start,$start-opacity)), color-stop(100%,rgba($stop,$stop-opacity))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}