// Product Catalog for Doctors
$catalog-sidebar-width: 280px;
$catalog-logoheader-height: 60px;
$catalog-filter-height: 40px;

.page-catalog {
	&.modal-open {
		overflow: hidden;
	}
	#contentWrap {
		max-width: 10000px;
	}
	#content_area {
		//position: relative;
		padding-top: $catalog-logoheader-height + $catalog-filter-height;
	}
	table[cellpadding="3"] {
		display: none;
	}
	.ohs-main-nav,
	.ohs-footer {
		display: none;
	}
	#content {
		padding: 0;
	}
	.headerWrap {
		z-index: 4;
		position: fixed;
		top: 0;
		left: 0; right: 0;
	}
	.ohs-header-tools {
		display: none;
		padding: 6px 0;
		a {
			display: block;
			float: left;
			width: 48px;
			height: 48px;
			line-height: 48px;
			border-radius: 100%;
			border: 1px solid $color-neutral-3;
			border-color: $color-main;
			margin: 0 12px 0 0;
			text-align: center;
			font-size: 24px;
			position: relative;
			&:hover {
				background-color: $color-main;
			}
		}
		.selected {
			background-color: $color-main;
			border-color: $color-main;
			i {
				display: none;
			}
			&:before {
				content: '\f00d';
				font-family: "Font Awesome 5 Pro";
			}
			&:after {
				content: '';
				position: absolute;
				top: 24px;
				bottom: -24px;
				left: -1px; right: -1px;
				background-color: $color-main;
				z-index: -1;
			}
		}
		span {
			width: 20px;
			height: 20px;
			line-height: 20px;
			border-radius: 100%;
			background-color: $color-main;
			position: absolute;
			top: 0;
			left: -8px;
			font-size: 10px;
		}

	}
	.hp-info-header {
		color: $color-neutral-5;
		float: left;
		padding-left: 20px;
		margin-top: 16px;
		strong {
			font-size: 14px;
			display: block;
			font-weight: bold;
		}
		em {
			font-style: normal;
			font-size: 10px;
		}
	}
	.page-header {
		h1 {
			margin-bottom: 4px;
		}
		margin-bottom: 20px;
	}
	.no-results-text {
		font-size: 18px;
		padding: 20px;
		text-align: center;
	}
	.alert--success {
		position: fixed;
		top: 0;
		left: 0; right: 0;
		z-index: 1000000;
		background-color: rgba($color-main,.5);
		color: $color-neutral-5;
		height: $catalog-logoheader-height;
		span {
			width: 100%;
			height: $catalog-logoheader-height;
			line-height: $catalog-logoheader-height;
			margin: auto;
			top: 0; bottom: 0;
			left: 0; right: 0;
			position: absolute;
			font-size: 24px;
			font-weight: bold;
			display: block;
			text-align: center;
		}
	}
	.alert--fullscreen {
		bottom: 0;
		background-color: rgba($color-main,.8);
		height: 100%;
	}
	.v-product-grid {
		min-height: 500px;
		margin: 0 !important;
		background-color: $background-page;
		overflow: hidden;
	}
	.v-product {
		width: 100% !important;
		padding: 10px !important;
		margin-bottom: 0 !important;
		position: relative;
		background-color: $background-page;
		border-top: 1px solid $border-color;
		padding-left: 80px !important;
		height: 100px;
		clear: none !important;
		a, p, .product_productprice {
			padding: 0;
		}
		&.show-description {
			height: auto;
			.v-product__desc {
			  	display: block;
			}
		}
	}
	.colors_productprice, .product_productprice {
	  font-size: 12px !important;
	}
	.v-product__title {
		padding-top: 0px !important;
		overflow: hidden;
		height: auto;
		font-size: 12px;
	    line-height: 14px;
	}
	.v-product__desc {
	  display: none;
	  font-size: 10px;
	  line-height: 1.2em;
	  height: auto;
	  margin-top: 6px !important;
	  margin-bottom: 10px !important;
	  transition: all .2s;
	  &:after {
	  	display: none;
	  }
	}
	.no-hp-error {
		padding: 0 20px;
	}
	.v-product__img {
	    position: absolute;
	    top: 10px; bottom: 0;
	    left: 0;
	    text-align: center;
	    padding: 0;
	    padding-top: 0 !important;
		img {
		  max-height: 40px !important;
		  margin-bottom: 0;
		}
	}
	.product-desc-toggle-button {
		margin-top: 16px !important;
		clear: both;
		border-radius: 0;
		padding: 0;
		border: none;
		float: right !important;
		outline: none;
		&:focus {
			outline: none;
		}
	}
	.v-product-grid .product_recurringpricingtext {
		position: static;
		display: inline-block;
	}
	.v-product-grid .v-product {
		a, p, > div {
			padding: 0;
		}
		.v-product__qty {
			margin-top: 0;
			margin-left: 10px;
			float: right;
			min-width: 100px;
		}
	}
	.v-product__qty {
		button {
			float: left;
			margin: 0;
		}
	}
	.product_productprice b {
	  font-weight: normal !important;
	}
	.selected-item-list {
		color: $color-neutral-5;
		font-size: 12px;
		padding-top: 10px;
		.item {
			padding: 0 0 6px;
			overflow: hidden;
		}
		span {
			display: inline-block;
			line-height: 1.3em;
		}
		.title {
			width: 175px;
		}
		.qty {
			width: 25px;
			float: right;
			text-align: center;
		}
		.code {
			display: none;
		}
	}
	.swiper-pagination {
		//width: 100%;
		height: $catalog-filter-height;
		background-color: $background-body;
		text-align: left;
		z-index: 40;
		position: fixed;
		top: $catalog-logoheader-height;
		left: 0; right: 0;
		overflow: hidden;
	}
	.swiper-pagination-bullet {
		width: 25%;
		float: left;
		display: block;
		height: $catalog-filter-height;
		line-height: $catalog-filter-height;
		border-radius: 0;
		background: $color-neutral-3;
		opacity: .5;
		padding: 0 10px;
		font-weight: bold;
		font-size: 12px;
	    margin: 0 !important;
	    text-align: center;

	    border-radius: 0;
	    em {
	    	font-style: normal;
	    }
		&:hover {
			opacity: 1;
		} 
	    outline: none;
	    &:focus {
	    	outline: none;
		}
	}
	.swiper-pagination-bullet-active {
	    opacity: 1;
	    background: $color-sub;
	    color: $color-neutral-5;
	}
}
#selectedProductList {
	.item {
		padding: 8px 0;
		border-bottom: 1px solid $border-color;
	}
	span, strong {
		display: inline-block;
	}
	.qty {
		width: 50px;
		text-align: center;
	}
	.code:before {
		content: ': ';
	}

}
.catalog--tool {
	display: none;
	position: fixed;
	top: $catalog-logoheader-height; bottom: 0;
	left: 0; right: 0;
	overflow: scroll;

	padding: 10px;
	background-color: $color-main;
	z-index: 100;
	h2 {
		color: $color-neutral-5;
		margin-bottom: 10px;
	}
}
$test-height: 50px;
.catalog--one-test {
	border: 1px solid $color-sub;
	background: $color-sub;
	border-bottom: none;
	color: $color-neutral-5;
	overflow: hidden;
	&:last-child {
		border-bottom: 1px solid $color-sub;
	}
	span {
		display: block;
		float: left;
		height: $test-height + 15;
	}
	.check {
		float: right;
		width: $test-height;
		span {
			display: block;
			margin: 10px;
			width: $test-height - 20;
			height: $test-height - 20;
			border: 2px solid darken($color-sub,10);
			background-color: $color-neutral-5;
			text-align: center;
		}
	}
	.index {
		width: $test-height;
		line-height: $test-height;
		text-align: center;
		font-weight: bold;
		font-size: 18px;
	}
	.title {
		line-height: 1.2em;
		strong {
			padding-top: 10px;
			display: block;
		}
		em {
			display: block;
			font-size: 10px;
			font-style: normal;
		}
	}
	&.selected {
		background: $color-main;
		.check {
			span {
				border-color: $color-sub;
				&:before {
					content: '\f00c';
					font-family: "Font Awesome 5 Pro";
					display: block;
					font-size: 20px;
					color: $color-main;
					width: $test-height - 24;
					height: $test-height - 24;
					line-height: $test-height - 24;
				}
			}
		}
	}
}
.page-catalog #content_area .catalog--send-emails textarea {
	padding-top: 8px !important;
}
.catalog--send-emails {
	.catalog-actions {
		padding: 10px;
		background-color: $background-page;
		input, textarea {
			margin-bottom: 6px;
			width: 100%;
		}
	}
	// successful submission
	.alert {
		position: absolute;
		padding-top: 20px;
		top: 0; bottom: 0;
		left: 0; right: 0;
		z-index: 100;
		font-size: 18px;
		text-align: center;
	}
	label {
		font-size: 12px;
	}
	.provider-code-text {
		padding: 0 4px;
		background-color: $background-highlight;
		margin-bottom: 8px;
	}
	.edit-button {
		width: 40px;
		height: 40px;
		text-align: right;
		display: inline-block;
		float: right;
		i {
			font-size: 18px;
		}
	}
	.hp-info {
		margin-bottom: 6px;
	}
	.error {
		color: $error;
		font-size: 12px;
		input {
			border-color: $error !important;
		}
		.results {
			color: $error;
		}
	}
	input {
		width: 100%;
	}
	&.sticky {
		position: fixed;
		right: 0;
	}
}
.product-category-slide {
	position: relative;
	z-index: 1;
	width: 100vw;
	overflow: hidden;
}
.product-desc-toggle-button {
	width: 26px;
	height: 16px;	
	position: relative;
	span,
	&:before,
	&:after {
		content: '';
		height: 2px;
		position: absolute;
		background-color: #333;
		display: block;
		width: 100%;
		position: absolute;
		right: 0;
	}
	span {
		top: 0px;
		width: 40%;
		transition: width .3s, transform .3s, top .0s;
		transition-timing-function: ease-out;
	}
	&:before {
		width: 60%;
		top: calc(50% - 1px);
		transform-origin: 100% 50%;
		transition: opacity .1s;
		transition-timing-function: ease-out;
	}
	&:after {
		bottom: 0;
		transition: width .3s, transform .3s, bottom .0s;
		transition-timing-function: ease-out;
	}
	&.active {
		transform: rotate(-90deg);
		span {
			width: 67%;
			top: 2px;
			transform: translateY(-50%) rotate(-45deg);
			transform-origin: 50% 50%;
		}
		&:before {
			opacity: 0;
		}
		&:after {
			width: 67%;
			bottom: 2px;
			transform: translateY(50%) rotate(45deg);
			transform-origin: 50% 50%;
		}

	}
}
// -------------------------------------------------------------------
// Responsive Page
// -------------------------------------------------------------------
@media screen and (min-width: 725px) {
.catalog--one-test {
	span {
		height: $test-height;
	}
	.title {
		em {
			float: left;
		}
		.desc {
			width: 280px;
		}
	}
}

}
@media screen and (min-width: $page-size-md) {
.page-catalog {

}

}
@media screen and (min-width: $page-size) {
.page-catalog {
	&.tools-active:before {
		content: '';
		background-color: $color-main;
		width: $catalog-sidebar-width;
		position: absolute;
		top: $catalog-logoheader-height; bottom: 0;
		right: 0;
		z-index: 2;
	}
	.send-emails-button {
		display: none !important;
	}
	.swiper-pagination {
	    margin-right: $catalog-sidebar-width;
	}
	.product-category-slide {
	    padding-right: $catalog-sidebar-width;
	}
	.ohs-footer-copyright {
		margin-right: $catalog-sidebar-width;
	}
	.catalog--send-emails {
		display: block !important;
		width: $catalog-sidebar-width;
		top: $catalog-logoheader-height; bottom: 0;
		left: auto; right: 0;
		z-index: 5;
	}
	.catalog--tool h2 {
		font-size: 14px;
	    margin-bottom: 2px;
	}
}

}

// -------------------------------------------------------------------
// Responsive Product Tiles
// -------------------------------------------------------------------
@media screen and (min-width: $page-size-md) {
.page-catalog {
	.v-product-grid {
		.v-product {
			// size 1/2
			width: 50% !important;
		}
	}
	.v-product__title {
		font-size: 14px;
	    line-height: 16px;
	}
}

}
@media screen and (min-width: $page-size) {
// Large

.page-catalog {
	.v-product-grid {
		.v-product {
			// size 1/2
			width: 50% !important;
			&:nth-child(2n + 1) {
				//clear: both;
			}
			.v-product__qty {
				min-width: 100px;
			}
		}
	}
}

}
