// Shopping cart, Checkout Forms

// onpage Cart Modal -----------------------------------------------------------
// must override styles in /a/c/soft_add.css
.soft_add_wrapper {
    background: $background-page;
    box-shadow: 0 0 5px rgba($color-neutral-1,.3);
    left: auto !important;
    position: absolute;
    right: 0;
    top: 60px !important;
    width: 100%;
    max-width: 400px;
    z-index: 1100;
    .product-name {
        a {
            color: $link-color;
        }
    }
}
.ie8 .soft_add_wrapper {
    border: 1px solid $border-color;
}
// override BAD styling autoadded by volusion
.table-border-left, 
.table-border-right, 
.v65-cart-giftcert-details-row td.table-border-left, 
.v65-cart-giftcert-details-row td.table-border-right {
    background-color: transparent !important;
}
.soft_add_content_wrapper,
.soft_add_content_shadow,
.soft_add_header_shadow,
.soft_add_header,
.soft_add_content_area,
.soft_add_content_wrapper .cart_table,
.soft_add_content_wrapper .cart_table td,
.soft_add_sub_total,
.soft_add_action_area {
    font-family: $font-family;
    font-size: $font-size-md;
    color: $font-color;
    width: auto;
    height: auto;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    behavior:none;
}   
.soft_add_wrapper {
    .quantity_text {
        display: inline-block;
        &:after {
            content: ': ';
        }
    }
    .soft_add_span {
        padding: 0;
    }
    .soft_add_action_area {
        a {
            background: none;
            width: auto;
            height: auto;
            float: none;
            text-indent: 0;
            margin: 0;
            display: inline-block;
        }
    }
    .soft_add_content_area {
        max-height: none;
    }
}
//Added to Cart Header
.soft_add_wrapper .soft_add_header {
    background: $background-highlight;
    line-height: $field-height;
    padding: 0 6px;
    font-weight: normal;
    .soft_add_span {
        margin-right: 10px;
    }
    .close_btn {
        display: none;
    }
}
//Product Row Layout
.soft_add_wrapper ul.anchored-cart {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    border-collapse: collapse;
    li {
        overflow: hidden;
        border-bottom: 1px solid $border-color;
        text-align: left;
        display: table-row;
    }
    .product-image,
    .product-detail,
    .product-price {
        display: table-cell;
        vertical-align: middle;
    }
    .product-remove {
        display: none;
    }
    .product-image {
        text-align: center;
        padding: 6px 0;
    }
    img {
        max-height: 55px;
    }
    .product-price {
        text-align: right;
        padding-right: 10px;
    }
    .product-name {
        font-size: $font-size-md;
        font-weight: bold;
        margin-bottom: 4px;
    }
    .product-qty {
        color: $subfont-color;
        font-size: $font-size-sm;
    }
    .recently-added {
        //background-color: #f5f5f5;
    }
}
//Subtotal area
.soft_add_wrapper .soft_add_sub_total {
    display: table;
    border-collapse: collapse;
    width: 100%;
    line-height: $field-height;
    border-bottom: 1px solid $border-color;
    div {
        display: table-cell;
    }
    .number_of_items {
        padding-left: 10px;

    }
    .sub_total {
        text-align: right;
        padding-right: 10px;
    }
    .sub_total_amount {
        font-size: $font-size-lg;
        font-weight: bold;
    }
}
//Buttons
.soft_add_wrapper .soft_add_action_area {
    padding: 10px;
    min-height: $field-height + 10;
    a {
        line-height: $field-height;
        padding: 0 10px;
        color: $button-color-text;
        background: $button-color;
        text-transform: uppercase;
        &:hover {
            background: $button-hover;
            text-decoration: none;
        }
    }
    .check_out {
        float: right;
        font-size: $font-size-lg;
        line-height: $field-height + 10;
        padding: 0 18px;
    }
    .continue_shopping {
        margin-top: 5px;
        background: $button-secondarycolor;
        &:hover {
            background-color: $button-secondaryhover;
            text-decoration: none;
        }
    }
}

// Shopping Cart Page ----------------------------------------------------------
.page-cart { // add classes that are too generic inside page tag
    #content_area {
        //width: auto;
    }
    #v65-cart-breadcrumb {
        display: none;
    }
    .v65-error-list-wrapper {
        padding: 10px 0;
    }
}
body #v65-cart-table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
body #v65-cart-table-container {
    td {
        padding: 0;
    }
}
body #v65-cart-moreItems {
    width: 100%;
}
#content_area #cart-top-rule {
    display: none;
}
#content_area .v65-divider-hr-cell {
    border-top: 1px solid $border-color;
}
.v65-cart-details-separator img, 
.v65-divider-hr-row + .v65-cart-details-separator {
    display: none;
}
#v65-cart-header-itemdescription {
    width: 100%;
}

// Cart Pre-Header (continue shopping or checkout?)
.above-cart {
    display: none;
}
.cart-continue-shopping {
    float: right;
}

// Cart Header
h2.v65-your-cart-title {
    color: $header-color-1;
    font-size: 25px;
    font-weight: bold;
    margin-left: 0;
}

// Cart Table Header Row
#content_area #cart-header {
    background: $background-light;
    font {
        color: $font-color !important;
        font-size: 12px;
        font-weight: normal;
        padding: 5px 0;
        display: block;
        opacity: .4;
    }
}

// Cart Table List Items
//zebra
#content_area #v65-cart-table .v65-item-zebra {
    background-color: transparent;
}
#content_area .v65-cart-details-separator {
    background-color: $background-page;
}
//product image
.v65-cart-detail-productimage {
    img {
        float: none;
        max-height: 50px;
        border: 6px solid $background-page !important;
    }
}
body #v65-cart-table {
    .v65-cart-details-row {
        border-top: 1px solid $border-color;
        td {
            width: 100%;
        }
        td.v65-cart-item-remove-cell {
            a {
                display: block;
                height: 20px;
                margin-right: 6px;
            }
        }
    }
    .v65-cart-details-firstcell,
    .colors_lines {
        width: 0 !important;
    }
}
.v65-cart-details-row {
    background-color: $background-page;
    //product name
    font.carttext.colors_text b.cart-item-name {
        font-size: 16px !important;
        font-weight: bold;
        color: $color-main;
    }
    //$ each
    font.carttext.colors_text {
        color: #000000;
        font-size: 12px !important;
        font-weight: normal !important;
        display: block;
        text-align: center;
    }
    //$ total
    font.carttext.colors_text b {
        color: #000000;
        font-size: 16px !important;
        display: block;
        text-align: center;
    }
    //qty
    input {
        line-height: 30px;
        text-align: center !important;
    }
}
//remove image
.v65-cart-item-remove-link {
    img.v65-cart-item-remove-image {
        width: 20px;
        opacity: .4;
    }
    &:hover img.v65-cart-item-remove-image {
        opacity: 1;
    }
}
// "Kit" or bundle cart details row
.v65-cart-kit-row {
    background: $background-page !important;
    table {
        width: 100%;
    }
    td[width="2"] {
        display: none;
    }
    .v65-cart-detail-productimage img {
        max-height: 30px;
    }
    .carttext {
        color: $subfont-color !important;
    }
    .v65-cart-details-cell font {
        text-align: left !important;
        &:before {
          content: '\21B3';
        }
    }

}
// Empty the cart row
.v65-cart-item-remove-cell {
    background: $background-page;
    padding: 6px !important;
    text-align: right;
    span {
        font-size: 12px !important;
        color: $subfont-color;
    }
    a {
        color: $link-color;
    }
    img {
       width: 12px; 
    }
}

// Coupon Code
#v65-coupon-table-row {
    background: $background-highlight;
    .cart-coupon-text {
        font-size: 16px;
        display: block;
        margin-bottom: 6px;
    }
}
#v65-cart-coupon-entry-details-container {
    padding: 8px 0 !important;
}
#v65-cart-coupon-entry-details-input {
    line-height: 30px;
    padding: 0 5px;
    margin: 0 6px 0 0 !important;
    width: 70px;
    border-color: $color-neutral-1;
    float: left;
}
#v65-cart-update-total-cell {
    text-align: right;
}
#content_area #btnRecalculate,
#content_area #v65-cart-coupon-entry-details-button {
    height: 34px;
    margin-right: 10px;
}
#btnRecalculate {margin-top: 0 !important;}

// Shipping 
body td#v65-cart-shipping-details-container {
    background: $background-light;
    padding: 5px;
    line-height: 1.5em;
}
#v65-cart-shipping-details div[align="right"] img[width="5"] {display: none;}
#v65-cart-shipping-details div[align="right"] {text-align: left;}
#v65-cart-shipping-details-label {
    font-size: 16px;
    br {
        display: none;
    }
}
#v65-cart-shipping-details-wrapper {
    float: none !important;
}
#v65-cart-shipping-details-text {
    font-size: 12px;
    font-weight: normal;
}
#v65-cart-shipping-details td {
    //padding: 2px 0 !important;
}
#v65-cart-shipping-details-label.v65-cart-left-label small  {
    font-size: 11px;
}
#v65-cart-shipping-details-container #v65-cart-shipping-details td, 
#v65-cart-shipping-details-container #v65-cart-shipping-details span {
    color: $color-neutral-1 !important;
    font-size: 12px !important;
    font-weight: normal !important;
}
#v65-cart-shipping-details br {
    //display: inline;
    display: none;
}
.v65-cart-shipping-details-input-cell br {
    display: none;
    //display: inline;
}
#content_area input[name="btncalc_shipping"] {
    background-color: $button-color !important;
}
.PageText_L780n {
    display: block;
    margin-top: 6px;
}
img[src*="Icon_FreeShipping.gif"] {
    height: 25px;
    margin-top: 4px;
}
//fix shipping button colspan
#v65-cart-shipping-details {
    margin-bottom: 40px;
    position: relative;
}
body #v65-cart-shippingoptionsbuttonrow {
    position: absolute;
    height: 40px;
    bottom: -40px;
    left: 0;
    right: 0;
}
body #v65-cart-shippingoptionsbuttonrow {
    padding: 0 !important;
    margin: 0 !important;
}
body #v65-cart-shippingoptionsbuttoncell #btnRecalculate {
    margin-top: 3px !important;
}
#v65-cart-shipping-details td {
    white-space: normal !important;
}

// TAX & TOTAL
.v65-cart-tax-row,
.v65-cart-total-estimate-row {
    font-size: 20px;
}
//tax text, "total" text, tax price
tr.v65-cart-tax-row + tr b,
tr.v65-cart-tax-row b,
td.v65-cart-tax-parent-cell b  {
    color: $subfont-color;
    font-size: 12px;
    font-weight: normal;
}
//total price
#v65-cart-total-estimate-cell font.pricecolor.colors_productprice, 
#v65-cart-total-estimate-cell font.pricecolor.colors_productprice b {
    color: $subfont-color;
    font-size: 20px;
    font-weight: bold;
}
#content_area input.btn_checkout_guest {
    height: 50px;
}
#v65-cart-checkout-parent {
    //padding-right: 50px;
}

// Custom Fields & Referral Code
.hidden-referral-code {
    display: none;
}
.referral-doctor-alert {
    padding: 6px 10px;
    background-color: $background-highlight;
}

// -------------------------------------------------------------------
// Responsive Cart Page
// -------------------------------------------------------------------
@media screen and (max-width: $page-size-sm) {
// Small Screens Only

}
@media screen and (max-width: $page-size-md) {
// Small & Medium Screens Only
#v65-cart-table {
    td {
        display: block;
        width: 100%;
    }
    .v65-cart-header-cell {
        display: none;
    }
    .v65-cart-details-row {
        position: relative;
        display: block;
        overflow: hidden;
        &:hover {
            background: $background-page;
        }
        //3=photo 4=title 6=each 8=qty 10=total
        td:nth-child(3) {
            position: absolute;
            top: 0; right: 20px;
            width: 80px;
        }
        td:nth-child(4) {
            padding-top: 6px;
        }
        td:nth-child(8) {
            float: left;
            width: 50px;
        }
        td:nth-child(6),
        td:nth-child(10) {
            float: left;
            width: 80px;
        }
        td:nth-child(10) {
            width: 30%;
        }
    }
    td.v65-cart-detail-productimage img {
        max-height: 70px;
    }
    // bundle sub row
    .v65-cart-kit-row {
         min-height: 42px;
        .v65-cart-detail-productimage img {
            max-height: 30px;
        }
        td:nth-child(6),
        td:nth-child(8),
        td:nth-child(10),
        td:nth-child(11) {
            display: none;
        }
    }
    [width="75"] {
        width: 100%;
    }
    [width="145"], [width="70"] {
        width: 70%;
    }
    [align="right"], center {
        text-align: left;
    }
    td[width="70"], td[width="135"] {
        font.carttext.colors_text {
            display: inline-block;
        }
    }
    td[width="70"] div {
        margin-left: 10px;
    }
    td[width="70"] div:before {
        content: 'Each: ';
    }
    td[width="135"] div:before {
        content: 'Total: ';
    }
    input[type="text"] {
        margin: 0 0 6px;
    }
    .v65-cart-details-cell.v65-cart-item-remove-cell {
        position: absolute;
        top: 4px; right: 10px;
        padding: 0;
        width: 25px;
    }
    .v65-divider-hr-row,
    .v65-cart-details-lastcell {
        display: none !important;
    }
    .colors_productname {
        display: inline-block;
        margin-left: 10px;
    }
}
.page-cart {
    .v65-cart-table {
        box-sizing: border-box;
    }
    #content_area .v65-divider-hr-cell,
    .table-border-left, .table-border-right, 
    .v65-cart-giftcert-details-row td.table-border-left, 
    .v65-cart-giftcert-details-row td.table-border-right {
        border: none !important;
        background: none !important;
    }
    .v65-cart-shipping-details-row td {
        display: block; 
        box-sizing: border-box;
        clear: both;
    }
    .v65-cart-left-label {
        float: none !important;
    }
    #v65-cart-empty-details-cell {
        box-sizing: border-box;
    }
}


}
@media screen and (min-width: $page-size-md) {
// Md & Up

// Cart Pre-Header (continue shopping or checkout?)
.above-cart {
    display: block;
}
// Cart Header
h2.v65-your-cart-title {
    margin-top: -40px;
}
//align rows & widths
body #v65-cart-table {
    td {
        width: 1px;
    }
    .v65-cart-details-row {
        .v65-cart-detail-productimage {
            width: 50px;
        }
        td[align="center"] {
            width: 70px;
            overflow: hidden;
        }
        table[width="145"] {
            width: 70px;
        }
        td.v65-cart-item-remove-cell {
            width: 26px;
            padding: 0 !important;
        }
    }
}

}


















// Checkout Page ---------------------------------------------------------------
.page-checkout { // add classes that are too generic inside page tag
    #content_area {
        padding: 0;
    }
    #v65-onepage-header {
        margin-left: 0;
        color: $header-color-1;
    }
    .loginHeaderWrapper {
        color: $font-color;
    }
    [align="right"] {
        text-align: left;
    }
    [for="Check by Mail"] {
        display: inline;
        &:after {
            font-weight: normal;
            font-size: $font-size-sm;
            margin-left: 10px;
            content: '(If sending a check by mail, order will not ship until payment has been received.)'
        }
    }
    div#creditCardBlock input[type=radio] {
      font-size: 12px;
    }
    .referred-tooltip {
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 14px;
        text-align: center;
        background: $button-secondarycolor;
        color: $button-color-text;
        font-weight: bold;
        border-radius: 50%;
        position: relative;
        &:hover:after {
            display: block;
        }
        &:after {
            width: 150px;
            display: none;
            position: absolute;
            top: 16px;
            left: 0;
            content: 'This helps us know who referred you to us so we can keep our site open to public. We may call to find out if unclear.';
            padding: 10px;
            font-size: $font-size-sm;
            background: $background-page;
            border: 1px solid $color-brand-green;
            color: $color-brand-green;
            z-index: 100;
        }   
    }
    .req-mark {
        color: $error;
    }
}
#table_checkout_cart0,
#v65-onepage-CartSummary,
#v65-onepage-ordersummary-items {
    background-color: $background-page !important;
}
#PaymentDIV {
    background-color: $background-page !important;
}
.payment-block,
.payment-option, .payment-option-title {
    border-color: $border-color !important;
}
#v65-onepage-CheckoutForm {
    width: 100%;
}
body #v65-onepage-ContentTable {
    width: 60%;
}
// Page Subheaders
#billing-header,
#v65-onepage-RegistrationHeader,
#shipping-header,
#v65-checkout-payment-header {
    width: 100%;
    .v65-onepage-headerShort {
        width: 100%;
        border-top: 1px solid $border-color;
        padding-top: 10px;
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
        img {
            display: none;
        }
    }
}
#billing-header .v65-onepage-headerShort:before {
  content: 'Billing Information'; 
}
#v65-onepage-RegistrationHeader .v65-onepage-headerShort:before {
  content: 'Create Password'; 
}
#shipping-header .v65-onepage-headerShort:before {
  content: 'Shipping Information'; 
}
#v65-checkout-payment-header .v65-onepage-headerShort:before {
  content: 'Payment'; 
}
#billing-header, #shipping-header, #v65-checkout-payment-header {
    padding-bottom: 0 !important;
}
// Main Form
//payment options
//override volusion
div#creditCardBlock input[type="radio"] {
    font-size: 12px;
}
div#creditCardBlock {
    padding-top: 10px;
}
div#creditCardBlock .payment-logo {
    height: 10px;
    margin-top: -31px;
    flex: 80%;
}
#PaymentDIV .payment-block {
    margin-bottom: 0;
}
#PaymentDIV .payment-option-title {
    display: none;
}
#PaymentDIV .alternate {
    border-top: 0;
    .payment-option {
        display: block !important;
    }
}
.v65-payment-details-label-cell div {
    display: inline-block;
}
//shipping address
#v65-onepage-ShippingParent {
    padding-left: 0 !important;
}
#ship-to-options-table {
    min-width: 300px;
    margin-bottom: 4px;
    div[align="right"] {
        //text-align: left;
        img[width="5"] {
            display: none;
        }
    }
    td {
        padding: 4px 0;
    }
    br {
        display: none;
    }
}
//saved billing addresses
.v65-onepage-SavedLocations {
    td {
        padding-left: 0 !important;
    }
}
// Order Sidebar
#v65-onepage-CartSummary {
    >tbody>tr>td {
        padding: 10px 15px;
    }
}
#v65-onepage-ordersummary-items td {
    min-height: 20px;
}
.v65-onepage-ordersummary-itemqty {
    text-align: center;
    padding: 0 4px;
}
#CalcShippingDivContainer {
    width: auto !important;
}
.v65-onepage-ordersummary-itemtotal.v65-onepage-ordersummary-header {
    white-space: normal;
}
#TotalsDivContainer {
   padding: 0 15px;
}
body #v65-onepage-cartsummary-header {
    background: $color-main;
}
body #TotalsDivContainer {
    float: none;
}
.v65-onepage-ordersummary-itemtotal {
    display: block;
    text-align: right;
}
.v65-onepage-shippingcost-amount,
#TotalsSHTD,
#TotalsTax1TD {
    display: block;
    text-align: right;
    font-size: 16px;
}
.v65-onepage-shippingcost-detail {
    line-height: 1.5em;
}
body #v65-onepage-ordercomments-value {
    padding-top: 0;
    padding-bottom: 0;
}
.v65-onepage-custom-details-row {
    td {
        display: block;
        width: 95%;
    }
}
#imgSubmitOrder {
    width: 234px;
}
body #btnSubmitOrder {
    float: none;
    margin-top: 0;
    padding: 0;
}
// -------------------------------------------------------------------
// Responsive Checkout Page
// -------------------------------------------------------------------
@media screen and (max-width: $page-size-sm) {
// Small Screens Only

.page-checkout {
    nobr {
        white-space: normal;
    }
    #v65-onepage-billfirstname, #v65-onepage-billlastname, #v65-onepage-billcompanyname, #v65-onepage-billaddr1, #v65-onepage-billaddr2, #v65-onepage-billcity, #v65-cart-billemail, #v65-onepage-shipfirstname, #v65-onepage-shiplastname, #v65-onepage-shipcompanyname, #v65-onepage-shipaddr1, #v65-onepage-shipaddr2, #v65-onepage-shipcity {
        width: 200px !important;
    }
    #table_checkout_cart0 {
        float: none;
        margin: 0;
        width: 100%;
    }
    #v65-onepage-ContentTable {
        width: 100%;
        float: none;
    }
}


}
@media screen and (min-width: $page-size-md) {
// Md & Up



}
@media screen and (min-width: $page-size) {
// Large & Up


}