/* PROMO TOP */
.promo-top-wrap {
  background: url('../images/template/footer_bg.jpg');
  height: 19px;
  width: 100%;
  padding: 8px 0;
  text-align: left;
}
.promo-top-wrap .promo-top {
  width: 960px;
  margin: 0 auto;
}
.promo-top-wrap .promo-top a {
  color: #555555;
  font-size: 13px;
}
.promo-top-wrap .promo-top a:hover {
  color: #500625;

}
.promo-top-wrap .promo-top a i {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding: 0 8px 0 0;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -1px;
  float: left;
  text-transform: uppercase;
}
.promo-top-wrap .promo-top a span {
  line-height: 20px;
  float: left;
}

.promo-top-wrap .promo-top span.p-code {
  color: #555555;
  font-size: 13px;
  float: right;
}
.promo-top-wrap .promo-top span.p-code span {
  float: left;
  line-height: 20px;
}
.promo-top-wrap .promo-top span.p-code i {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #500625;
  font-size: 14px;
  letter-spacing: -1px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  float: left;
  padding: 0 10px;
}

/*****************************
* *       SITE TOOLS       * *
******************************/



/*****************************
* *      CART SUMMARY      * *
******************************/


/* OLD CART */
/* #display_cart_summary,
.cartsummary_full,
.cartsummary_empty {
  display: inline;
}

#view_cart_text_right {
  display: inline;
}

#display_cart_summary a {
  display: none;
} */





/*****************************
* *      MAILING LIST      * *
******************************/

#eList {
  height: 74px;
  margin: 0;
  padding: 0;
  width: 632px;
  border: 1px solid #fff;
  float: left;
}
#eList .title {
  width: 255px;
  font-size: 11px;
  margin: 0;
  text-align: left;
  float: left;
  padding: 0 10px;
}
#eList .title h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 46px;
  line-height: 50px;
  margin: 5px 0 0px;
  font-weight: 300;
}
#eList form {
  background: url('../images/template/elist_bg.png') no-repeat 0 0;
  float: right;
  height: 34px;
  margin: 23px 19px 0 0;
  padding: 0;
  width: 324px;
}
.elistInput {
  background: none;
  border: 0;
  color: #c89f9c;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  padding: 8px 0 3px 13px;
  text-align: left;
  width: 248px;
  outline: none; /* webkit */
}
.elistInput::-webkit-input-placeholder {color:#c89f9c;} /* webkit */

.elistInput:focus{color:#fe7878;}
.elistInput:focus::-webkit-input-placeholder {color:#fe7878;} /* webkit */

.elistSubmit {
  background: url('../images/template/elist_hov.png') no-repeat 0 -100px;
  border: 0;
  color: white;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 0;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: right;
  text-indent: -9999px;
  width: 60px;
  outline: none; /* webkit */
}
.elistSubmit:hover {
 background-position: 0 0;
}

/*****************************
* *         SHOP BY        * *
******************************/

#DropDown_ShopBy_Manufacturer select,
#DropDown_ShopBy_Category select,
#DropDown_ShopBy_Price select {
  font-size: 11px;
  margin: 8px 0;
  padding: 0;
  width: 160px;
}

/*****************************
* *        LEFT NAV        * *
******************************/

#leftNav {
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 200px;
}
#leftNav .menu_title {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #272020;
  font-size: 30px;
  padding: 10px 0;
  margin: 0 0 10px;
  font-weight: 300;
  text-transform: uppercase;
  background: url('../images/template/lnav_hd.png') no-repeat -15px bottom;
}
#leftNav .menu_title:first-child {
  margin-top: 0;
  padding-top: 0;
}
#leftNav .menu_title:empty {
  display: none;
}
#leftNav ul {
  color: #272020;
  font-size: 13px;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0px;
  width: auto;
}
#leftNav ul li {
  margin: 0;
  padding: 0;
}
#leftNav ul li a {
  color: #000;
  width: 190px;
  display: block;
  padding: 8px 0 8px 10px;
  text-decoration: none;
}
#leftNav ul li.nav_hover a,
#leftNav ul li a:hover {
  background-color: #500625;
  color: #fff;
  text-decoration: none;
}

/*****************************
* *       PROMOTIONS       * *
******************************/

#display_promotions_999 {
  margin: 0px;
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
}


/*****************************
* *         FOOTER         * *
******************************/


/*****************************
* *      NO JS WARNING     * *
******************************/

#no-js-notice {
  background: #333333;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

/*****************************
* *         FIXES          * *
******************************/

/* HTML 5 SPECIFIC FIXES */
td > img{float:left;}
#v65-cart-checkout-table td img, a img {float:none;}
/* --- Fixes Floating Loading Div --- */
#please_wait_div img { float: none; }
img[src$="/preparing_pleasewait.gif"], img[src$="/preparing_progressbar.gif"] { float: none; }
article, aside, figure, footer, header, hgroup, menu, nav, section {display: block;}

#v65-onepage-ContentTable {margin: 0 auto;}
#table_checkout_cart3 li {list-style: inside;}
#v65-onepage-ContentTable td br:first-child {display: none;}
#v65ModalOverlay {position: fixed !important;}
#content_area .v65-cart-giftcert-details-row td font,
#content_area .v65-cart-giftcert-details-row td font b {color: #666666 !important;}
#v65-cart-shipping-details-text nobr {white-space: normal !important;}
.next_page_img,.previous_page_img {width: auto !important;height: auto !important;}
#table_checkout_cart0 {margin-top: 5px;}
/* FIXES SHIPPING DROPDOWN ON SHOPPINGCART.ASP PAGE */

#EditRegionModal .v65pageTextModalTitle {
  font-size: 18px !important;
  color: #6c4836;
}