/**************************
*       BREADCRUMBS       *
**************************/

#divWaitModal + table > tbody > tr:first-child a, /*Targets text*/
#divWaitModal + table > tbody > tr:first-child b /*Targets greater-than symbol*/ {
	color: #585858;
	font-size: 12px;
	font-weight: normal;
}

/*****************************
*   WHOLE SUB CAT CONTAINER  *
*****************************/

/*Set container's background or border*/
.colors_backgroundneutral {
	background: #eee; /*Overrides default*/
}

/*****************************
*     	    HEADING          *
*****************************/

/* Heading background */
table.colors_backgroundlight {
	background: none;
	border-bottom: 1px solid #ddd;
	width: 100%;
}

/* Heading text styling */
table.colors_backgroundlight > tbody > tr > td:first-child b {
	color: #585858;
	display: block;
	font-size: 17px;
	font-weight: normal;
	line-height: 30px; /*Control height here*/
	text-indent: 10px;
}

/*****************************
*        CATEGORY LINKS      *
*****************************/

/* Category links outer container (excludes heading container) */
/* Use for background and padding */
table.colors_backgroundlight + table {
	padding: 10px 15px;
}

/* Category link */
a.subcategory_link {
	color: #585858;
	font-size: 12px;
	font-weight: normal;
}

/* Category link hover */
a.subcategory_link:hover {
	color: inherit;
	text-decoration: none;
}

/*****************************
*       CATEGORY STYLES      *
*****************************/

/* Product Title */
table.v65-productDisplay .productnamecolor {
	color: #4D4D4D;
    font-size: 15px;
    font-weight: bold;
}

/* Our Price / List Price*/
table.v65-productDisplay font.text.colors_text, /*Our Price: $0.00*/
table.v65-productDisplay font.text.colors_text b, /*Our Price*/ 
table.v65-productDisplay font.pricecolor.colors_productprice{
	color: #585858;
	font-size: 15px;
	font-weight: normal;
}

/* Sale Price: $0.00; */
table.v65-productDisplay br + b font.pricecolor.colors_productprice {
	color: #aa1f1f;
	font-size: 15px;
	font-weight: normal;
}

/* You Save $0.00 */
table.v65-productDisplay font.productnamecolor.colors_productname i b {
	color: #585858;
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
}

/* Description */
table.v65-productDisplay img + br + font.text.colors_text, /*Single rows / Select / Checkboxes / List*/
table.v65-productDisplay td[valign="top"] > font.text.colors_text /*Grid / Lightweight Grid*/ {
	color: #000000;
	font-size: 12px;
	font-weight: normal;	
}

/*****************************
*  CENTER PROD NAME & PRICE  *
*****************************/

/*#content_area table.v65-productDisplay {
	text-align:center;
}*/

/*****************************
*    REMOVE DIVIDER LINES    *
*****************************/

/*td[background$="Grid_Single_Divider_Vert.gif"], 
td[background$="Grid_Single_Divider_Horiz.gif"] {
	background:none !important;
}*/

/* * * * * * FIXES * * * * * */

/* Remove padding-left from breadcrumbs */
#divWaitModal + table > tbody > tr:first-child td {padding-left: 0;}

/* Remove default Arial font family */
font[face="Arial"] {font-family: inherit;}

/* Remove default padding of table containing subcat links */
table.colors_backgroundlight + table td {padding: 0;}

/* Remove excess spacing to left of product name in Checkboxes display mode*/
a.productnamecolor.colors_productname + img {display: none;}

/* Override valign="bottom" in "Sort By:" container */
form#MainForm > input[name="Cat"] + table td[valign="bottom"][rowspan="2"] {
	vertical-align: top;
	padding-top: 5px;
}

/* Remove excess spacing on left and right of "Sort By" container */
form#MainForm > input[name="Cat"] + table > tbody > tr > td,
form#MainForm > input[name="Cat"] + table td[valign="bottom"][rowspan="2"],
form#MainForm > input[name="Cat"] + table td[align="right"] {
	padding-left: 0;
	padding-right: 0;
}

/* Heading */
table.colors_backgroundlight > tbody > tr > td > img, /*Heading images*/
.colors_lines_light, .colors_lines_light + .colors_backgroundneutral  /*Lines below heading*/ {
	display: none;
}