/* SOFT ADD TO CART */

/* ------ ROUNDED CORNERS ------ */
.soft_add_content_wrapper,
.soft_add_action_area,
.soft_add_wrapper,
.soft_add_header {
	border-radius: 0;
}

.cartDiv {
	display: inline-block;
}

/* ------ ADD CUSTOM BOX-SHADOW ------ */

.soft_add_wrapper {
	border-top: 5px solid #0B610B;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	font-family: 'Raleway', sans-serif;
	left: auto !important;
	padding: 0;
	position: absolute;
	right: 0;
	top: 75px !important;
	width: 400px;
	z-index: 1100;
}

/* Use for ie8 */
.ie8 .soft_add_wrapper {
	border: 1px solid #ccc;
}

.soft_add_header_shadow,
.soft_add_content_shadow {
	background: none;
	padding: 0;
	width: 274px;
}

.soft_add_content_shadow {
	padding-bottom: 9px;
}

/* ------ CONTENT WRAPPER ------ */
.soft_add_content_wrapper {
	background: none; 
	border: 0; /*-------BORDERS GO HERE*/
	padding: 0 1px;
	width: 398px;
}

/* ------ PRODUCT DETAILS ------ */

/*Conatiner*/
.soft_add_content_area {
	background-color: #fff;
	max-height: none;
	padding: 10px;
	width: 376px;
}

/*Text*/
.product_name {
	color: #4C4C4C;
	font-size: 12px;
	font-weight: normal;
}

/* ------ TOTALS CONTAINER ------ */

/*Container*/
.soft_add_sub_total {
	background: none !important;
	border-bottom: none;
	border-top: none; /*-------BORDERS GO HERE*/
	color: #666;
	font-size: 12px;
	font-weight: 400;
	height: 24px;
	line-height: 24px;
	padding: 4px 20px 0; /*Remove for original padding on right*/
}

.sub_total {
	font-size: 15px;
	color: #333;
}

span.sub_total_amount {
	font-size: 15px;
	color: #333;
}

/* ------ CONTINUE SHOPPING AND CHECKOUT ------ */

/*Buttons and Container */
.soft_add_action_area {
	background: none;
	border-top: none;
	height: auto;
	overflow: hidden;
	padding: 15px 0 15px 0;
	position: relative;
}

/*Checkout Button*/
.check_out {
	color: #fff;
	float: none;
	font-size: 15px;
	height: 40px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
    background: url('../images/template/view_cart_btn.png') no-repeat 0 0;
    display: block;
    margin: 0 15px 0 0;
    float: right;
    position: static;
    text-indent: 0;
    width: 128px;
    text-indent: -9999px;
}
.check_out:hover {
	color: #fff;
	text-decoration: underline;
}

.continue_shopping {
	display: inline !important;
    background: url('../images/template/cont_shopping_btn.png') no-repeat 0 0;
    width: 173px;
    height: 35px;
    margin: 0 0 0 15px;
    float: left;
}

/* * * * * * FIXES * * * * * */

.soft_add_span {padding-left: 0;}
.soft_add_content_area {border-bottom: none;}

/*** ################ NEW SOFT ADD MODAL CHANGES ################ ***/

ul.anchored-cart li .product-remove,
.soft_add_header,
.continue_shopping,
.aremove,
.soft_add_span,
.soft_add_header .close_btn,
.number_of_items {
	display: none;
}

.soft_add_action_area {
	clear: both;
}

/*Product Row Layout*/
ul.anchored-cart {
	list-style: none;
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;
}

ul.anchored-cart li img {
	max-width: 55px;
}

ul.anchored-cart li {
	text-align: left;
	vertical-align: middle;
	display: table-row;
	width: auto;
	margin: 0;
}

ul.anchored-cart li div {
	font-size: 12px;
	width: 100%; /* Makes divs span entire length */
}

ul.anchored-cart li .product-image {
	display: table-cell;
	padding: 10px;
	padding-right: 4px;
}

ul.anchored-cart li .product-detail {
	display: table-cell;
	padding: 10px 5px;
	vertical-align: top;
	line-height: 14px;
}
/* Product name */
ul.anchored-cart li .product-name {
	display: block;
}

ul.anchored-cart li .product-name a {
	color: #500625;
	font-weight: 600;
	font-size: 13px;
}
/* Quantity */
ul.anchored-cart li .product-qty {
	display: block;
	font-size: 12px;
	color: #333;
}
ul.anchored-cart li .product-qty span {
	font-weight: 600;
}
/* "Options" text */
ul.anchored-cart li .product-options a {
	color: #333;
}

ul.anchored-cart li .product-qty .quantity_text {
	display: inline;
	font-size: 12px;
	color: #333;
}

ul.anchored-cart li .product-price {
	display: table-cell;
	padding: 10px 8px 10px 0;
	font-size: 13px;
	font-weight: 600;
	vertical-align: top;
	text-align: right;
	color: #500625;
}

ul.anchored-cart {
	border-collapse: collapse;
}

ul.anchored-cart li {
	overflow: hidden;
	border-bottom: 1px solid #eee;
}

ul.anchored-cart li.recently-added {
     background-color: #f5f5f5;
}

ul.anchored-cart li .product-image {
	width: 55px;
	overflow: hidden;
	float: left;
}