<!-- footer -->
<div class="ohs-footer clear">
  <div class="ohs-company-info">
    <div class="ohs-site-logo"><a href="/" title="Optimal Health Systems">Optimal Health Systems</a></div>
    <div class="ohs-location">
      <strong><a href="/">Optimal Health Systems</a></strong>
      <span>265 E Hwy 70 <em>&#8226;</em> Pima, Arizona 85543</span>
    </div>
    <div class="social-connect">
      <a href="https://www.facebook.com/OptimalHealthSystems" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/ohs4life_" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/ohs4life/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCf9pb-zFDGGrTOn-wI19hTw" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
  <div class="ohs-footer-links">
    <div class="main-links">
      <ul class="bullet-reset">
      <li><a href="/aboutus.asp" title="About Config_CompanyNameLegal">About Optimal Health Systems</a></li>
      <li><a href="/articles.asp?ID=83" title="Contact Config_CompanyNameLegal">Contact Us</a></li>
      <li><a href="tel:+1-800-890-4547" target="_blank">(800) 890-4547</a></li>
      <li><a href="mailto:support@optimalhealthsystems.com" target="_blank">support@optimalhealthsystems.com</a></li>
      <li><a href="https://blog.optimalhealthsystems.com" title="Blog - Optimal Health Systems">Wellness & Research Blog</a></li>
      </ul>
      <ul class="bullet-reset narrow">
        <li><a href="https://blog.optimalhealthsystems.com/seminars/">OHS Seminars</a></li>
      <li><a href="/help.asp" title="Help FAQ">Help / FAQ</a></li>
      <li><a href="/articles.asp?ID=57" title="Shipping">Shipping Policy</a></li>
      <li><a href="/returns.asp" title="Returns">Returns Policy</a></li>
      </ul>
      <ul class="bullet-reset narrow">
      <li><a href="/myaccount.asp" title="Edit My Account">My OHS Account</a></li>
      <li><a href="/shoppingcart.asp" title="View My Shopping Cart">Shopping Cart</a></li>
      <li><a href="/login.asp" title="Login to Your Account">Login</a>/<a href="/register.asp" title="Register for an Account">Register</a></li>
      <li><a href="/wishlist.asp " title="My Wishlist">My Wishlist</a></li>
      </ul>
    </div>
    <div class="ohs-footer-aside">
      <div class="sub-links">
        <h3 class="title">Product Categories</h3>
          <ul class="bullet-reset">
            <li><a href="/category-s/1814.htm">OHS Optimal</a></li>
            <li><a href="/category-s/1926.htm">Dr. Brimhall Opti-Nutrient</a></li>
            <li><a href="/category-s/1515.htm">Dr. Harris Essential</a></li>
            <li><a href="/category-s/1824.htm">Performance &amp; Energy</a></li>
            <li><a href="/category-s/1819.htm">Fat Loss &amp; Diet</a></li>
            <li><a href="/category-s/1820.htm">Pain, Joint &amp; Inflammation</a></li>
            <li><a href="/category-s/1821.htm">Organ &amp; Toxin Cleanses</a></li>
            <li><a href="/cindex.asp" title="Config_CompanyNameLegal's Category Index">Category Index</a></li>
          </ul>
      </div>
      <div class="sub-links" data-v-edit-region="Popular Products">
        <h3 class="title">Most Popular Products</h3>
        <ul class="bullet-reset">
          <li><a href="/Optimal-1-Digestion-p/655705123013.htm" title="Digestion">Digestion</a></li>
          <li><a href="/Optimal-2-Vitamin-Mineral-Antioxidant-p/655705123020.htm" title="Vitamin/Mineral">Vitamin/Mineral</a></li>
          <li><a href="/Optimal-Acute-p/655705123044.htm" title="Acute">Acute</a></li>
          <li><a href="/Optimal-Flora-Plus-p/655705123075.htm" title="Flora">Flora</a></li>
          <li><a href="/Optimal-Whole-C-Chewable-p/655705123211.htm" title="Whole C">Whole C</a></li>
          <li><a href="https://blog.optimalhealthsystems.com/Catalogs/Summer_2018_Catalog.pdf" target="_blank">Product Catalog</a></li>
          <li><a href="/productslist.asp" title="Config_CompanyNameLegal's Product Index">Product Index</a></li>
        </ul>
      </div>
      <div class="affiliate-links">
        <h3 class="title">Healthcare Professionals</h3> 
        <p>Sign up for access to products, special offers and exclusive tools.</p>
        <a class="cta-button" href="/register.asp"><span>Healthcare Professionals:</span><strong>Sign Up</strong></a>
      </div>
    </div>
    <p class="ohs-footer-disclaimer">Statements on this site have not been evaluated by the Food and Drug Administration. The products are not intended to diagnose, treat, cure, or prevent any disease.</p>
  </div>
</div>
<div class="ohs-footer-copyright">
  <a href="/terms.asp" title="Terms">&copy; <span class="insertYear">2019</span>&nbsp;Config_CompanyNameLegal</a> <a href="/terms_privacy.asp" title="Privacy Policy">Privacy Policy</a> <a href="/terms.asp" title="Terms and Conditions">Terms &amp; Conditions</a>
</div><!-- .footer-copyright -->