
<!-- ==================== FOOTER ==================== -->
<div class="footWrap">
    <div id="footer" class="clear">
      <div id="footerTop" class="clear">
        <div class="ohs-site-logo"><a href="/" title="Optimal Health Systems">Optimal Health Systems</a></div>
        <div class="company-info">
          <div class="address">
            18 West Center Street<br>
            Pima, Arizona 85543<br>
            <a href="tel:+1-800-890-4547" target="_blank">(800) 890-4547</a>
          </div>

          <!-- Social Links -->
          <div class="social-connect" data-v-edit-region="Social">
            <h3>Stay Connected</h3>
            <a href="https://www.facebook.com/OptimalHealthSystems" class="fb-icon" target="_blank"></a>
            <a href="https://twitter.com/ohs4life_" class="tw-icon" target="_blank"></a>
            <a href="https://www.instagram.com/ohs4life/" class="inst-icon" target="_blank"></a>
            <a href="https://www.youtube.com/channel/UCf9pb-zFDGGrTOn-wI19hTw" class="youtube-icon" target="_blank"></a>
          </div>
        </div>
        <div class="footer-links">
          <div class="col-1" data-v-edit-region="About Us">
            <h3 class="title">About Us</h3>
            <ul>
              <li><a href="/aboutus.asp" title="About Config_CompanyNameLegal">About Us</a></li>
              <li><a href="/articles.asp?ID=83" title="Contact Config_CompanyNameLegal">Contact Us</a></li>
              <li><a href="/terms_privacy.asp" title="Privacy Policy">Privacy Policy</a></li>
              <li><a href="https://blog.optimalhealthsystems.com" title="Blog - Optimal Health Systems">Blog</a></li>
            </ul>
            <ul>
              <li><a href="/cindex.asp" title="Config_CompanyNameLegal's Category Index">Category Index</a></li>
              <li><a href="/productslist.asp" title="Config_CompanyNameLegal's Product Index">Product Index</a></li>
              <li><a href="/terms.asp" title="Terms and Conditions">Terms &amp; Conditions</a></li>
            </ul>
          </div>

          <div class="col-2" data-v-edit-region="My Account">
            <h3 class="title">My Account</h3>
            <ul>
              <li><a href="/shoppingcart.asp" title="View My Shopping Cart">Shopping Cart</a></li>
              <li><a href="/login.asp" title="Login to Your Account">Login</a>/<a href="/register.asp" title="Register for an Account">Register</a></li>
              <li><a href="/myaccount.asp" title="Edit My Account">My Account</a></li>
            </ul>  
            <ul>
              <li><a href="/wishlist.asp " title="My Wishlist">My Wishlist</a></li>
              <li><a href="/articles.asp?ID=57" title="Shipping">Shipping Policy</a></li>
              <li><a href="/returns.asp" title="Returns">Returns Policy</a></li>
            </ul>  
          </div>

          <div class="col-3" data-v-edit-region="Popular Products"><h3 class="title">Most Popular Products</h3>
            <ul>
              <li><a href="/Optimal-1-Digestion-p/655705123013.htm" title="Digestion">Digestion</a></li>
              <li><a href="/Optimal-2-Vitamin-Mineral-Antioxidant-p/655705123020.htm" title="Vitamin/Mineral">Vitamin/Mineral</a></li>
              <li><a href="/Optimal-Acute-p/655705123044.htm" title="Acute">Acute</a></li>
            </ul>
            <ul>
              <li><a href="/Optimal-Flora-Plus-p/655705123075.htm" title="Flora">Flora</a></li>
              <li><a href="/Optimal-Whole-C-Chewable-p/655705123211.htm" title="Whole C">Whole C</a></li>
              <li><a href="https://blog.optimalhealthsystems.com/Catalogs/Summer_2018_Catalog.pdf" target="_blank">PRODUCT CATALOG</a></li>
            </ul>
          </div>

          <!-- Mailing List Section -->
          <div class="footer-affiliate-link" id="eList">
            <div class="title" data-v-edit-region="Newsletter">
              <h4><a href="https://www.optimalhealthsystems.com/register.asp"><img src="/v/vspfiles/photos/affiliate.jpg" alt="Affiliate" /></a></h4>
              <p>Statements on this site have not been evaluated by the Food and Drug Administration.<br>The products are not intended to diagnose, treat, cure, or prevent any disease.</p>
            </div>
          </div><!-- #eList -->

        </div>
      </div>
    </div><!-- #footer -->
  </div>
  <div class="footerBottomWrap">
    <div id="footerBottom" class="clear">
        <div class="copyright">
          <a href="/terms.asp" title="Terms">&copy; <span class="insertYear">2018</span>&nbsp;Config_CompanyNameLegal</a>
        </div><!-- .copyright -->
      </div><!-- #footerBottom -->
  </div>