    <div class="header-bar" id="top-header">
      <a href="tel:+1-800-890-4547">1-800-890-4547</a>
      <a href="mailto:support@optimalhealthsystems.com">support@optimalhealthsystems.com</a>
    </div><!-- #top-header -->
    <!-- ======================== HEADER ======================== -->
    <div class="headerWrap">
      <div id="header" data-v-anchor="cart">
        <h1 class="ohs-site-logo"><a href="/" title="Optimal Health Systems">Optimal Health Systems</a></h1>
        <a href="/shoppingcart.asp" class="cartLink">
          <span class="cartNum" data-v-observable="cart-count">0</span>
          <span class="cartText">My Cart</span>
        </a>
      </div><!-- #header -->
  
      <!-- ==================== UL LAYOUT ==================== -->
      <div class="topNavWrap">
        <div id="topNav" class="clear">
          <div class="ohs-menu-toggle"><div rel="menu-toggle"><span class="nav-menu-icon"><span></span><span></span><span></span><span></span></span></div></div>
          <div id="display_menu_1" class="menu">
            <ul>
              <li><a href="/">Link 1</a></li>
              <li><a href="/">Link 2</a></li>
              <li><a href="/">Link 3</a></li>
            </ul>
          </div>
        </div><!-- #top_nav -->
      </div>

      <div class="siteTools" data-v-edit-region="Sitetools">
        <a href="/myaccount.asp">My Account</a>
        <a href="/help.asp">Help/Faq</a>
      </div>
      <div id="displaySearch">
        <form action="/SearchResults.asp" method="get" name="SearchBoxForm">
          <input type="text" name="Search" class="searchInput transition" value="" placeholder="Search...">
          <input type="submit" name="Submit" class="searchSubmit" value="">
        </form>
      </div><!-- #displaySearch -->
    </div><!-- .headerWrap -->
