<!-- Mobile Navigation - ensure it loads -->
<script>
$(document).ready(function() {
	$('[rel="menu-toggle"]').click(function(event) {
		event.preventDefault;
		$('body').toggleClass('nav-open');
		$('.ohs-menu-toggle .nav-menu-icon').toggleClass('open');
	});
});
</script>
<!--PayPal Image with Transparent Background-->
<script>
$(document).ready(function() {
  $('[src$="/btn_xpressCheckout2.gif"]').attr("src", "/v/vspfiles/templates/ohs-2018/images/template/btn_xpressCheckout2.png"); 
});
</script>

{% if page.slug == "template" %}
{% include site-google-analytics.html %}

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b0741998859f57bdc7b8620/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
{% endif %}

<script src="{{ site.baseurl }}v/vspfiles/templates/ohs-2018/js/custom.js"></script>

<script>
// match in customjs when updated
var tU = window.location.href.toLowerCase(), tS = '';
if (tU.indexOf('login') > -1) {
tS = 'login'; }
else if (tU.indexOf('reviewnew.asp') > -1) {
tS = 'new-review'; }
else if (tU.indexOf('searchresults.asp') > -1) {
tS = 'search-results'; }
else if (tU.indexOf('shoppingcart') > -1) {
tS = 'cart'; }
else if (tU.indexOf('one-page-checkout') > -1) {
tS = 'checkout'; }
else if (tU.indexOf('orderfinished') > -1) {
tS = 'order-confirmation'; }
else if ((tU.indexOf('-s/') > -1) || (tU.indexOf('_s/') > -1)) {
tS = 'category-list'; }
else if ((tU.indexOf('articles.asp') > -1) || (tU.indexOf('-a/') > -1) || (tU.indexOf('_a/') > -1)) {
tS = 'article'; }
else if ((tU.indexOf('productdetails.asp') > -1) || (tU.indexOf('-p/') > -1) || (tU.indexOf('_p/') > -1)) {
tS = 'product-detail'; }
else {
tS = 'other';
}
document.body.className += ' ' + 'page-'+tS;
</script>
