<!--
DYNAMIC PAGE-SPECIFIC META TAGS WILL BE PLACED HERE
DO NOT ADD YOUR OWN META TAGS
ONLY PUT CSS/JAVSCRIPT INCLUDES IN YOUR HEAD TAG
-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<meta id="v65-layout-mode" data-cart="storedot" data-checkout="storedot" data-use-simplified-checkout="true">

<meta id="v65-logo-dimensions" data-height="70" data-width="190">

<!--[if lt IE 9]>
<script src="dist/html5shiv.js"></script>
<![endif]-->

<link href="v/vspfiles/templates/ohs-2018/css/imports.css" rel="stylesheet">
{% if page.slug == "home" OR page.slug == "template" %}
<div id="if_homepage"><link href="v/vspfiles/templates/ohs-2018/css/homepage.css" rel="stylesheet"></div>
{% endif %}
<script src="v/vspfiles/templates/ohs-2018/js/design-toolkit_min.js"></script>
<script>DTK.loadCSS("ohs-2018");</script> <!-- FOR CHECKOUT -->

<link href="v/vspfiles/templates/ohs-2018/css/style.css?v=3" rel="stylesheet">
<script>
var tU = window.location.href.toLowerCase(), tS = '';
if (tU.indexOf('login.asp') > -1) {
tS = 'login'; }
else if (tU.indexOf('reviewnew.asp') > -1) {
tS = 'new-review'; }
else if (tU.indexOf('searchresults.asp') > -1) {
tS = 'search-results'; }
else if ((tU.indexOf('_s/') > -1) || (tU.indexOf('_s_366') > -1)) {
tS = 'category-list'; }
else if ((tU.indexOf('_p/') > -1) || (tU.indexOf('productdetails.asp') > -1)) {
tS = 'product-detail'; }
else {
tS = 'other';
}
document.body.className += ' ' + 'page-'+tS;
/*
var cS = tU.indexOf('_s/'),
    cS = cS + 3,
    cE = cS + 3;
if (cS > -1) {
    var tC = tU.substring(cS,cE);
  if (tC == '366') {
    document.body.className += ' ' + 'shop-with-filters';
  }
}
*/
</script>