{% if page.slug == "template" %}{% include site-google-analytics.html %}{% endif %}
<!--
DYNAMIC PAGE-SPECIFIC META TAGS WILL BE PLACED HERE
DO NOT ADD YOUR OWN META TAGS
ONLY PUT CSS/JAVSCRIPT INCLUDES IN YOUR HEAD TAG
-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<meta id="v65-layout-mode" data-cart="storedot" data-checkout="storedot" data-use-simplified-checkout="true">

<meta id="v65-logo-dimensions" data-height="70" data-width="190">

<!--[if lt IE 9]>
<script src="dist/html5shiv.js"></script>
<![endif]-->

{% comment %}<link href="v/vspfiles/templates/ohs-2018/css/imports.css" rel="stylesheet">{% endcomment %}
{% if page.slug == "home" OR page.slug == "template" %}
<div id="if_homepage"><link href="v/vspfiles/templates/ohs-2018/css/homepage.css" rel="stylesheet"></div>
{% endif %}
{% comment %}<script src="v/vspfiles/templates/ohs-2018/js/design-toolkit_min.js"></script>
<script>DTK.loadCSS("ohs-2018");</script> <!-- FOR CHECKOUT -->{% endcomment %}

<link href="v/vspfiles/templates/ohs-2018/css/style.css?v={{ site.time | date: '%Y%m%d.%H%M' }}" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/light.css" integrity="sha384-ouQ4uivIto2ZdBS6+torZMbImJhWA6/m7/CAGY9z0FNDmoAF6uWAEnavvIsR1EBt" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/brands.css" integrity="sha384-1KLgFVb/gHrlDGLFPgMbeedi6tQBLcWvyNUN+YKXbD7ZFbjX6BLpMDf0PJ32XJfX" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-toEUmnrGu+eq8XUD6ovsr/vFX+R3v9+FUGAnpef+uwGKMCeqZkcZfkXQ0Pls5WS7" crossorigin="anonymous">