---
slug: template
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js ie9" lang="en"><!--<![endif]-->
<head>
{% include site-head-code.html %}
</head>
<body>

  <noscript id="no-js-notice">
    To take full advantage of this site, please enable your browser's JavaScript feature.
    <a href="http://launchpad.volusion.com/kb_results.asp?ID=42" target="_blank">Learn how</a>
  </noscript>

  <div id="pageWrapper">

{% include header.html %}

<!-- ==================== CONTENT ==================== -->
<div id="contentWrap" class="clear">
  <div id="content" class="clear">

    <!-- ==================== CONTENT AREA ==================== -->
    <div id="content_area"></div><!-- #content_area -->

    <div id="leftNav">

      <div id="display_promotions_999" class="clear"></div>

    </div><!-- #leftNav -->

  </div><!-- #content -->

</div><!-- #contentWrap -->

</div><!-- #pageWrapper -->

{% include footer.html %}
{% include site-foot-code.html %}

</body>
</html>