</div><!-- #content_area -->

    <div id="leftNav">

       <!-- ========== MENU 2 ========== -->
        <!-- <div id="Menu2_Title" class="menu_title">Nav Menu 2</div>
        <div id="display_menu_2" class="menu">
<script type="text/javascript">var breadCrumb="||";</script>
<script type="text/javascript">
function mOvr2(src)
{ if (src.className != 'nav nav_hover nav_selected') src.className = 'nav nav_hover'; }
function mOut2(src)
{ if (src.className != 'nav nav_hover nav_selected') src.className = 'nav'; }
function mClk2(src, popup) 
{ if (!popup) {window.location=src.getElementsByTagName('A')[0].getAttribute('href');} else {window.open(src);} }
</script>
<ul>
<li class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);" onclick="mClk2(this);">
	<a href="/aboutus.asp" title="">About Us</a>
</li>
<li class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);" onclick="mClk2(this);">
	<a href="/returns.asp" title="">Returns</a>
</li>
<li class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);" onclick="mClk2(this);">
	<a href="/articles.asp?ID=57" title="">Shipping</a>
</li>
<li class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);" onclick="mClk2(this);">
	<a href="/help.asp" title="">Site Help / FAQ</a>
</li>
</ul>
</div> --> 
<!-- #display_menu_2 -->

      <div id="display_promotions_999" class="clear"><script src="https://seal.verisign.com/getseal?host_name=www.optimalhealthsystems.com&size=L&use_flash=YES&use_transparent=YES&lang=en">

</script></div>

    </div><!-- #leftNav -->

  </div><!-- #content -->

</div><!-- #contentWrap -->

</div><!-- #pageWrapper -->

<!-- ==================== FOOTER ==================== -->
<div class="footWrap">
    <div id="footer" class="clear">
      <div id="footerTop" class="clear">

        <div class="col-1" data-v-edit-region="About Us">
          <h3 class="title">About Us</h3>
          <ul>
            <li><a href="/aboutus.asp" title="About Optimal Health Systems">About Us</a></li>
            <li><a href="/articles.asp?ID=83" title="Contact Optimal Health Systems">Contact Us</a></li>
            <li><a href="/terms_privacy.asp" title="Privacy Policy">Privacy Policy</a></li>
            <li><a href="https://blog.optimalhealthsystems.com" title="Blog - Optimal Health Systems">Blog</a></li>
          </ul>
          <ul>
            <li><a href="/cindex.asp" title="Optimal Health Systems's Category Index">Category Index</a></li>
            <li><a href="/productslist.asp" title="Optimal Health Systems's Product Index">Product Index</a></li>
            <li><a href="/terms.asp" title="Terms and Conditions">Terms &amp; Conditions</a></li>
          </ul>
        </div>

        <div class="col-2" data-v-edit-region="My Account">
          <h3 class="title">My Account</h3>
          <ul>
            <li><a href="/shoppingcart.asp" title="View My Shopping Cart">Shopping Cart</a></li>
            <li><a href="/login.asp" title="Login to Your Account">Login</a>/<a href="/register.asp" title="Register for an Account">Register</a></li>
            <li><a href="/myaccount.asp" title="Edit My Account">My Account</a></li>
          </ul>  
          <ul>
            <li><a href="/wishlist.asp " title="My Wishlist">My Wishlist</a></li>
            <li><a href="/articles.asp?ID=57" title="Shipping">Shipping Policy</a></li>
            <li><a href="/returns.asp" title="Returns">Returns Policy</a></li>
          </ul>  
        </div>

        <div class="col-3" data-v-edit-region="Popular Products"><h3 class="title">Most Popular Products</h3>
          <ul>
            <li><a href="/Optimal-1-Digestion-p/655705123013.htm" title="Digestion">Digestion</a></li>
            <li><a href="/Optimal-2-Vitamin-Mineral-Antioxidant-p/655705123020.htm" title="Vitamin/Mineral">Vitamin/Mineral</a></li>
            <li><a href="/Optimal-Acute-p/655705123044.htm" title="Acute">Acute</a></li>
          </ul>
          <ul>
            <li><a href="/Optimal-Flora-Plus-p/655705123075.htm" title="Flora">Flora</a></li>
            <li><a href="/Optimal-Whole-C-Chewable-p/655705123211.htm" title="Whole C">Whole C</a></li>
            <li><a href="https://blog.optimalhealthsystems.com/Catalogs/Summer_2018_Catalog.pdf" target="_blank">PRODUCT CATALOG</a></li>
          </ul></div>

      </div>

      <div class="co-contact">

        <!-- Social Links -->
        <div class="social-connect" data-v-edit-region="Social">
          <h3>Stay Connected</h3>
          <a href="https://www.facebook.com/OptimalHealthSystems" class="fb-icon" target="_blank"></a>
          <a href="https://twitter.com/ohsinfo" class="tw-icon" target="_blank"></a>
          <a href="https://service.ringcentral.com/ringme/ringme.asp?uc=AFE70BDC42AB112BF0181733456B81E94272159318023,0,,1,0&s=no&v=2&s_=1210" target="_blank" "="" class="phone-icon"></a>
<!--
          <a href="http://instagram.com/Volusion" class="inst-icon" target="_blank" ></a>
          <a href="http://www.pinterest.com/volusion/" class="pin-icon" target="_blank" ></a>
          <a href="mailto:email@beautybox.com" class="mail-icon" target="_blank" ></a>
-->
        </div>

                          <!-- Mailing List Section -->
        <div id="eList">
          <div class="title" data-v-edit-region="Newsletter">
            <h4><a href="https://www.optimalhealthsystems.com/register.asp"><img src="/v/vspfiles/photos/affiliate.jpg" width="610" height="65" alt="Affiliate"></a></h4>
          </div>
        </div><!-- #eList -->




      </div>
    </div><!-- #footer -->
  </div>



      <!--
    ==========================================================================================
    VOLUSION LINK - BEGIN
    ==========================================================================================
    Customer has agreed per Volusion's Terms of Service (http://www.volusion.com/agreement_monthtomonth.asp)
    to maintain a text hyperlink to "http://www.volusion.com" in the footer of the website. The link must be
    standard html, contain no javascript, and be approved by Volusion. Removing this link breaches the Volusion agreement.
    ==========================================================================================
    -->


  <div class="footerBottomWrap">
    <div id="footerBottom" class="clear">
        <a data-v-edit-region="SSL" class="fright" href="javascript:void(0);" onclick="window.open('https://www.volusion.com/ssl.asp?url=www.optimalhealthsystems.com', 'VolusionSSL',  'top=10,left=10,menubar=0,resizable=0,scrollbars=0,width=467,height=467')"><img src="/v/vspfiles/templates/beautybox/images/template/vsecure.png" alt=""></a>
        <div class="copyright">
          <a href="/terms.asp" title="Terms">Copyright &copy; <span class="insertYear">2018</span>&nbsp;Optimal Health Systems. All Rights Reserved.</a>
          
        Powered with Volusion <a href="http://www.volusion.com" target="_blank" rel="nofollow">shopping cart software</a>.
        <!-- #if_not_hompage -->
        </div><!-- .copyright -->
      </div><!-- #footerBottom -->
  </div>



<!--PayPal Image with Transparent Background-->
<script>
$(document).ready(function() {
  $('[src$="/btn_xpressCheckout2.gif"]').attr("src", "/v/vspfiles/templates/beautybox/images/template/btn_xpressCheckout2.png"); 
});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=/g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-604128-1', 'auto');
  ga('send', 'pageview');

</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b0741998859f57bdc7b8620/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->



<script type="text/javascript">function store_init(event){} AttachEvent(window, 'load', store_init);</script>

<script type="text/javascript">
    if (!/\/shoppingcart\.asp/i.test(window.location.pathname)) {
        jQuery(document).ready(function() {
            jQuery('a').each(AddCartLink)
        });
    }
</script>

  <script>
     if (document.getElementsByName("MailingList")[0]) {
        var emailSubscribeForm = document.getElementsByName("MailingList")[0];
        disableSubscribeSubmit = function() {
          emailSubscribeButton.removeAttribute("type");
        }
        forwardToMailingList = function(e) {
            var subscribeEmail = emailSubscribeForm.querySelector("input").value;
          sessionStorage.setItem("subEmailAddress", subscribeEmail);
          emailSubscribeForm.submit();
        }

        if (emailSubscribeForm.querySelector("button")) {
            var emailSubscribeButton = emailSubscribeForm.querySelector("button");
            emailSubscribeButton.addEventListener("click", forwardToMailingList);
        }
    }
  </script>

</body>
</html>