<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js ie9" lang="en"><!--<![endif]-->
<head>
<script type="text/javascript" src="/a/j/milonic/milonic_src.js"></script>
<script	type="text/javascript">
if(ns4)_d.write("<scr"+"ipt src=/a/j/milonic/mmenuns4.js><\/scr"+"ipt>"); 
  else _d.write("<scr"+"ipt src=/a/j/milonic/mmenudom.js><\/scr"+"ipt>"); 
</script>
<script type="text/javascript">
var Config_CDN_URL = '/'
</script>
<script type="text/javascript" src="/v/vspfiles/templates/beautybox/Menu_Popout_Styles.js"></script>
<script type="text/javascript" src="/v/vspfiles/templates/beautybox/Menu_Popout_Data.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <meta name="globalsign-domain-verification" content="Oe_dU6qT2MFGVpHAJVxLV5VS_vbcnRiLsJAIiBbbg8" /> 
<meta name="Description" content="" />
<meta name="Keywords" content="" />
<title>Optimal Health Systems</title>
<meta name="robots" content="index, follow" />
<meta name="GOOGLEBOT" content="INDEX, FOLLOW" />

<link type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/base/jquery-ui.css" rel="stylesheet" />
<link type="text/css" href="/a/c/default.css" rel="stylesheet" />


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>



<script type="text/javascript">
	var Config_VCompare_MaxProducts = '3';
	var PageText_783 = "Compare";
	var PageText_784 = "Change Selections";
	var PageText_785 = "You've attempted to select more than {0} items. Click {1} to continue with your initial {0} items or {2} to change your selections.";
	var PageText_819 = "Product Comparison";
    var PageText_822 = "Compare";
    var PageText_840 = "Create Password";
    var PageText_841 = "Retype Password";
    var PageText_842 = "Added to cart";
    var PageText_843 = "Subtotal";
    var PageText_844 = "items in cart";
</script>
<script type="text/javascript" src="/a/j/volusion.js?7.93.0.3523"></script>
<script type="text/javascript">
    (function ($) {
        volusion.ready(function () {
            if (volusion.cart.isObservingCount()) {
                var ts = new Date().getTime();
                $.getJSON('/ajaxcart.asp?cachebust=' + ts, function (data) {
                    var quantityTotal = 0;
                    $.each(data.Products, function (key, val) {
                        if (val.IsProduct === 'Y') {
                            quantityTotal += parseInt(val.Quantity);
                        } else if (val.IsAccessory === 'Y') {
                            quantityTotal += parseInt(val.Quantity);
                        }
                    });
                    quantityTotal = quantityTotal || '0';
                    volusion.cart.itemCount(quantityTotal);
                });
            }
        });
    } (jQuery));
</script>
<link type="text/css" rel="stylesheet" href="/a/contentbuilder/assets/default/content.css" />
<script type="text/javascript" src="../../a/j/paypal-rest-default-buttons.js"></script>


<script type="text/javascript" src="/a/j/soft_add.js"></script>
<link type="text/css" rel="stylesheet" href="/a/c/soft_add.css" />
<script type="text/javascript">
	var global_Config_EnableDisplayOptionProducts = 'False';
	var global_Config_ForceSecureShoppingCartPage = false;
	var global_PageText_OtherItemsAdded = '(All other items have been added to the cart)';
	var Config_EnableSoftAddToCart = true;
</script>

<script type="text/javascript" src="/a/j/soft_add_mult.js"></script>
<script type="text/javascript" src="/a/j/javascripts.js?6_5_7.93.0.3523"></script>

<script type="text/javascript">
	var Config_Search_Auto_Complete = false;
</script>

<script>
    var reCaptchaPreloaded = false;
    var reCaptchaInit;
</script>



<!--
DYNAMIC PAGE-SPECIFIC META TAGS WILL BE PLACED HERE
DO NOT ADD YOUR OWN META TAGS
ONLY PUT CSS/JAVSCRIPT INCLUDES IN YOUR HEAD TAG
-->

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<meta id="v65-layout-mode" data-cart="storedot" data-checkout="storedot" data-use-simplified-checkout="true">

<meta id="v65-logo-dimensions" data-height="70" data-width="190">

<!--[if lt IE 9]>
<script src="/dist/html5shiv.js"></script>
<![endif]-->

<link href="/v/vspfiles/templates/beautybox/css/imports.css" rel="stylesheet">


<script src="/v/vspfiles/templates/beautybox/js/design-toolkit_min.js"></script>
<script>DTK.loadCSS("beautybox");</script> <!-- FOR CHECKOUT -->

</head>

<!-- ======================== FILE INFO ========================
Company:  RETAIL PROJECT
Designer: CM
Developer:  WM
Production: OCT 2013
======================== END INFO ======================== -->


<body>

  <noscript id="no-js-notice">
    To take full advantage of this site, please enable your browser's JavaScript feature.
    <a href="http://launchpad.volusion.com/kb_results.asp?ID=42" target="_blank">Learn how</a>
  </noscript>

  <div id="pageWrapper">
   
    <!-- ======================== HEADER ======================== -->
    <div class="headerWrap">
      <div id="header" data-v-anchor="cart">

        <!--if_homepage-->

        
        <div id="display_homepage_title"><span class="vol-logo vol-logo--graphic" itemscope itemtype='http://schema.org/Store'><meta itemprop='name' content='Optimal Health Systems'><a class="vol-logo__link" href="https://www.optimalhealthsystems.com/default.asp" title="Optimal Health Systems">Optimal Health Systems</a></span></div>
        <!--if_not_homepage-->

        <a href="/shoppingcart.asp" class="cartLink">
          <img src="/v/vspfiles/templates/beautybox/images/template/cart_bg.png">
          <span class="cartNum" data-v-observable="cart-count">0</span>
          <span class="cartText">My Cart</span>
        </a>

        <div class="siteTools" data-v-edit-region="Sitetools"><a href="/myaccount.asp">My Account</a>
          <a href="/help.asp">Help/Faq</a></div>


        <!-- ======================== SEARCH BOX ======================== -->
        <div id="displaySearch">
          <form action="/SearchResults.asp" method="get" name="SearchBoxForm">
            <input type="text" name="Search" class="searchInput transition" value="" placeholder="Search...">
            <input type="submit" name="Submit" class="searchSubmit" value="">
          </form>
        </div><!-- #displaySearch -->

      </div><!-- #header -->
  
      <!-- ==================== UL LAYOUT ==================== -->
      <div class="topNavWrap">
        <div id="topNav" class="clear">
          <div id="display_menu_1" class="menu">
<script type="text/javascript">var breadCrumb="||";</script>
<script type="text/javascript">display_menu_1();</script>
			
</div>
        </div><!-- #top_nav -->
      </div>

    </div><!-- .headerWrap -->


<!-- ==================== CONTENT ==================== -->
<div id="contentWrap" class="clear">
  <div id="content" class="clear">

    <!-- ==================== CONTENT AREA ==================== -->
    <div id="content_area">