<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js ie9" lang="en"><!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Optimal Health Systems</title>
</head>

<body class="{{ page.body-class }}">

  <div id="pageWrapper">
   
{% include header.html %}

<!-- ==================== CONTENT ==================== -->
<div id="contentWrap" class="clear">
  <div id="content" class="clear">

    <!-- ==================== CONTENT AREA ==================== -->
    <div id="content_area">

    <table width="100%" border="0" cellspacing="5" cellpadding="5" align="center">
        <tr> 
            <td>
<!-- Start Custom Code ********************************************************* -->
<!-- Start Custom Code ********************************************************* -->
<!-- Start Custom Code ********************************************************* -->
<!-- Start Custom Code ********************************************************* -->
<!-- Start Custom Code ********************************************************* -->

{{ content }}

<!-- End Custom Code ********************************************************* -->
<!-- End Custom Code ********************************************************* -->
<!-- End Custom Code ********************************************************* -->
<!-- End Custom Code ********************************************************* -->
<!-- End Custom Code ********************************************************* -->

            </td>
        </tr>
    </table>


</div><!-- #content_area -->

    <div id="leftNav">

       <!-- ========== MENU 2 ========== -->
        <!-- <div id="Menu2_Title" class="menu_title">Nav Menu 2</div>
        <div id="display_menu_2" class="menu">
<script type="text/javascript">var breadCrumb="||";</script>
<script type="text/javascript">
function mOvr2(src)
{ if (src.className != 'nav nav_hover nav_selected') src.className = 'nav nav_hover'; }
function mOut2(src)
{ if (src.className != 'nav nav_hover nav_selected') src.className = 'nav'; }
function mClk2(src, popup) 
{ if (!popup) {window.location=src.getElementsByTagName('A')[0].getAttribute('href');} else {window.open(src);} }
</script>
<ul>
<li class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);" onclick="mClk2(this);">
  <a href="https://www.optimalhealthsystems.com/aboutus.asp" title="">About Us</a>
</li>
<li class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);" onclick="mClk2(this);">
  <a href="https://www.optimalhealthsystems.com/returns.asp" title="">Returns</a>
</li>
<li class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);" onclick="mClk2(this);">
  <a href="https://www.optimalhealthsystems.com/articles.asp?ID=57" title="">Shipping</a>
</li>
<li class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);" onclick="mClk2(this);">
  <a href="https://www.optimalhealthsystems.com/help.asp" title="">Site Help / FAQ</a>
</li>
</ul>
</div> --> 
<!-- #display_menu_2 -->

      <div id="display_promotions_999" class="clear"><script src="https://seal.verisign.com/getseal?host_name=www.optimalhealthsystems.com&size=L&use_flash=YES&use_transparent=YES&lang=en">

</script></div>

    </div><!-- #leftNav -->

  </div><!-- #content -->

</div><!-- #contentWrap -->

</div><!-- #pageWrapper -->


{% include footer.html %}




<!--script type="text/javascript">function store_init(event){} AttachEvent(window, 'load', store_init);</script-->

<!--script type="text/javascript">
    if (!/\/shoppingcart\.asp/i.test(window.location.pathname)) {
        jQuery(document).ready(function() {
            jQuery('a').each(AddCartLink)
        });
    }
</script-->

{% include site-foot-code.html %}

</body>
</html>