<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js ie9" lang="en"><!--<![endif]-->
<head>
<!-- Added By Volusion ********************************************************** -->
<!--script type="text/javascript" src="https://www.optimalhealthsystems.com/a/j/milonic/milonic_src.js"></script>
<script type="text/javascript">
if(ns4)_d.write("<scr"+"ipt src=/a/j/milonic/mmenuns4.js><\/scr"+"ipt>"); 
  else _d.write("<scr"+"ipt src=/a/j/milonic/mmenudom.js><\/scr"+"ipt>"); 
</script>
<script type="text/javascript">
var Config_CDN_URL = '/'
</script>
<script type="text/javascript" src="https://www.optimalhealthsystems.com/v/vspfiles/templates/beautybox/Menu_Popout_Styles.js"></script>
<script type="text/javascript" src="https://www.optimalhealthsystems.com/v/vspfiles/templates/beautybox/Menu_Popout_Data.js"></script-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Optimal Health Systems</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<meta name="GOOGLEBOT" content="INDEX, FOLLOW" />
 <meta name="globalsign-domain-verification" content="Oe_dU6qT2MFGVpHAJVxLV5VS_vbcnRiLsJAIiBbbg8" /> 

<link type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/base/jquery-ui.css" rel="stylesheet" />
<link type="text/css" href="https://www.optimalhealthsystems.com/a/c/default.css" rel="stylesheet" />


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>



<script type="text/javascript">
  var Config_VCompare_MaxProducts = '3';
  var PageText_783 = "Compare";
  var PageText_784 = "Change Selections";
  var PageText_785 = "You've attempted to select more than {0} items. Click {1} to continue with your initial {0} items or {2} to change your selections.";
  var PageText_819 = "Product Comparison";
    var PageText_822 = "Compare";
    var PageText_840 = "Create Password";
    var PageText_841 = "Retype Password";
    var PageText_842 = "Added to cart";
    var PageText_843 = "Subtotal";
    var PageText_844 = "items in cart";
</script>
<script type="text/javascript" src="https://www.optimalhealthsystems.com/a/j/volusion.js?7.93.0.3523"></script>
<!--script type="text/javascript">
    (function ($) {
        volusion.ready(function () {
            if (volusion.cart.isObservingCount()) {
                var ts = new Date().getTime();
                $.getJSON('/ajaxcart.asp?cachebust=' + ts, function (data) {
                    var quantityTotal = 0;
                    $.each(data.Products, function (key, val) {
                        if (val.IsProduct === 'Y') {
                            quantityTotal += parseInt(val.Quantity);
                        } else if (val.IsAccessory === 'Y') {
                            quantityTotal += parseInt(val.Quantity);
                        }
                    });
                    quantityTotal = quantityTotal || '0';
                    volusion.cart.itemCount(quantityTotal);
                });
            }
        });
    } (jQuery));
</script-->
<link type="text/css" rel="stylesheet" href="https://www.optimalhealthsystems.com/a/contentbuilder/assets/default/content.css" />
<!--script type="text/javascript" src="https://www.optimalhealthsystems.com/a/j/paypal-rest-default-buttons.js"></script-->


<!--script type="text/javascript" src="https://www.optimalhealthsystems.com/a/j/soft_add.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.optimalhealthsystems.com/a/c/soft_add.css" />
<script type="text/javascript">
  var global_Config_EnableDisplayOptionProducts = 'False';
  var global_Config_ForceSecureShoppingCartPage = false;
  var global_PageText_OtherItemsAdded = '(All other items have been added to the cart)';
  var Config_EnableSoftAddToCart = true;
</script>

<script type="text/javascript" src="https://www.optimalhealthsystems.com/a/j/soft_add_mult.js"></script>
<script type="text/javascript" src="https://www.optimalhealthsystems.com/a/j/javascripts.js?6_5_7.93.0.3523"></script-->

<script type="text/javascript">
  var Config_Search_Auto_Complete = false;
</script>

<script>
    var reCaptchaPreloaded = false;
    var reCaptchaInit;
</script>

<!-- End Added By Volusion ********************************************************** -->

{% include site-head-code.html %}

</head>

<!-- ======================== FILE INFO ========================
Company:  RETAIL PROJECT
Designer: CM
Developer:  WM
Production: OCT 2013
======================== END INFO ======================== -->


<body>

  <noscript id="no-js-notice">
    To take full advantage of this site, please enable your browser's JavaScript feature.
    <a href="http://launchpad.volusion.com/kb_results.asp?ID=42" target="_blank">Learn how</a>
  </noscript>

  <div id="pageWrapper">
   
{% include header.html %}

<!-- ==================== CONTENT ==================== -->
<div id="contentWrap" class="clear">
  <div id="content" class="clear">

    <!-- ==================== CONTENT AREA ==================== -->
    <div id="content_area">

    <table width="100%" border="0" cellspacing="5" cellpadding="5" align="center">
        <tr> 
            <td>
      


<!-- Start Custom Code ********************************************************* -->
<!-- Start Custom Code ********************************************************* -->
<!-- Start Custom Code ********************************************************* -->
<!-- Start Custom Code ********************************************************* -->
<!-- Start Custom Code ********************************************************* -->

{{ content }}

<!-- End Custom Code ********************************************************* -->
<!-- End Custom Code ********************************************************* -->
<!-- End Custom Code ********************************************************* -->
<!-- End Custom Code ********************************************************* -->
<!-- End Custom Code ********************************************************* -->

            </td>
        </tr>
    </table>


</div><!-- #content_area -->

    <div id="leftNav">

       <!-- ========== MENU 2 ========== -->
        <!-- <div id="Menu2_Title" class="menu_title">Nav Menu 2</div>
        <div id="display_menu_2" class="menu">
<script type="text/javascript">var breadCrumb="||";</script>
<script type="text/javascript">
function mOvr2(src)
{ if (src.className != 'nav nav_hover nav_selected') src.className = 'nav nav_hover'; }
function mOut2(src)
{ if (src.className != 'nav nav_hover nav_selected') src.className = 'nav'; }
function mClk2(src, popup) 
{ if (!popup) {window.location=src.getElementsByTagName('A')[0].getAttribute('href');} else {window.open(src);} }
</script>
<ul>
<li class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);" onclick="mClk2(this);">
  <a href="https://www.optimalhealthsystems.com/aboutus.asp" title="">About Us</a>
</li>
<li class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);" onclick="mClk2(this);">
  <a href="https://www.optimalhealthsystems.com/returns.asp" title="">Returns</a>
</li>
<li class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);" onclick="mClk2(this);">
  <a href="https://www.optimalhealthsystems.com/articles.asp?ID=57" title="">Shipping</a>
</li>
<li class="nav" onmouseover="mOvr2(this);" onmouseout="mOut2(this);" onclick="mClk2(this);">
  <a href="https://www.optimalhealthsystems.com/help.asp" title="">Site Help / FAQ</a>
</li>
</ul>
</div> --> 
<!-- #display_menu_2 -->

      <div id="display_promotions_999" class="clear"><script src="https://seal.verisign.com/getseal?host_name=www.optimalhealthsystems.com&size=L&use_flash=YES&use_transparent=YES&lang=en">

</script></div>

    </div><!-- #leftNav -->

  </div><!-- #content -->

</div><!-- #contentWrap -->

</div><!-- #pageWrapper -->


{% include footer.html %}

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b0741998859f57bdc7b8620/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->



<!--script type="text/javascript">function store_init(event){} AttachEvent(window, 'load', store_init);</script-->

<!--script type="text/javascript">
    if (!/\/shoppingcart\.asp/i.test(window.location.pathname)) {
        jQuery(document).ready(function() {
            jQuery('a').each(AddCartLink)
        });
    }
</script-->

  <script>
     if (document.getElementsByName("MailingList")[0]) {
        var emailSubscribeForm = document.getElementsByName("MailingList")[0];
        disableSubscribeSubmit = function() {
          emailSubscribeButton.removeAttribute("type");
        }
        forwardToMailingList = function(e) {
            var subscribeEmail = emailSubscribeForm.querySelector("input").value;
          sessionStorage.setItem("subEmailAddress", subscribeEmail);
          emailSubscribeForm.submit();
        }

        if (emailSubscribeForm.querySelector("button")) {
            var emailSubscribeButton = emailSubscribeForm.querySelector("button");
            emailSubscribeButton.addEventListener("click", forwardToMailingList);
        }
    }
  </script>


{% include site-foot-code.html %}

</body>
</html>